:ruby
  @maps = [
        {source_exchange: 'Paypal', destination_exchange_currency: 'Jusan', source_exchange_currency_amount: '2000', destination_exchange_currency_amount: '40_000'},
        {source_exchange: 'TBC', destination_exchange_currency: 'USDT', source_exchange_currency_amount: '2000', destination_exchange_currency_amount: '40_000'}
      ]

%body.h-full{"cz-shortcut-listen" => "true"}
  #notification-tray.fixed.z-50.space-y-1.top-6.right-6
  .flex.h-full
    .p-6.pb-20.shrink-0.h-full.overflow-y-auto{class: "w-[368px]"}
      / BEGIN app/views/layouts/_sidebar.html.erb
      .flex.items-center.justify-between
        %a{href: "/"}
          %img{alt: "ChangeMap", class: "h-[22px]", src: "/assets/logo-2f119cf39fed5b52145871de289c4efc51aac7dd.svg"}/
        #user-menu{"data-controller" => "menu"}
          %button{"data-menu-target" => "button"}
            .text-white.w-9.h-9.bg-gray-400.rounded-full.flex.items-center.justify-center.text-lg.uppercase E
          .hidden.absolute.z-10.top-10.bg-white.rounded-sm.shadow-xs.border.border-alpha-black-25{class: "w-[240px] left-[255px] top-[72px]", "data-menu-target" => "content"}
            .p-3.flex.items-center.gap-3
              .text-white.shrink-0.w-9.h-9.bg-gray-400.rounded-full.flex.items-center.justify-center.text-lg.uppercase E
              %div
                %span.text-gray-900.font-medium.text-sm eg@mail.ru
            .border-t.border-b.border-alpha-black-100.p-1
              %a.flex.gap-2.items-center.hover:bg-gray-50.rounded-lg.px-3.py-2{href: "/settings/profile"}
                %svg.w-5.h-5.text-gray-500.shrink-0{"aria-hidden" => "true", fill: "none", height: "24", stroke: "currentColor", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "2", viewbox: "0 0 24 24", width: "24"}
                  %path{d: "M12.22 2h-.44a2 2 0 0 0-2 2v.18a2 2 0 0 1-1 1.73l-.43.25a2 2 0 0 1-2 0l-.15-.08a2 2 0 0 0-2.73.73l-.22.38a2 2 0 0 0 .73 2.73l.15.1a2 2 0 0 1 1 1.72v.51a2 2 0 0 1-1 1.74l-.15.09a2 2 0 0 0-.73 2.73l.22.38a2 2 0 0 0 2.73.73l.15-.08a2 2 0 0 1 2 0l.43.25a2 2 0 0 1 1 1.73V20a2 2 0 0 0 2 2h.44a2 2 0 0 0 2-2v-.18a2 2 0 0 1 1-1.73l.43-.25a2 2 0 0 1 2 0l.15.08a2 2 0 0 0 2.73-.73l.22-.39a2 2 0 0 0-.73-2.73l-.15-.08a2 2 0 0 1-1-1.74v-.5a2 2 0 0 1 1-1.74l.15-.09a2 2 0 0 0 .73-2.73l-.22-.38a2 2 0 0 0-2.73-.73l-.15.08a2 2 0 0 1-2 0l-.43-.25a2 2 0 0 1-1-1.73V4a2 2 0 0 0-2-2z"}
                  %circle{cx: "12", cy: "12", r: "3"}
                %span.text-gray-900.text-sm Settings
              .flex.justify-between.items-center.gap-2
                .flex.items-center.gap-2.rounded-lg.px-3.py-2
                  %svg.w-5.h-5.text-gray-500.shrink-0{"aria-hidden" => "true", fill: "none", height: "24", stroke: "currentColor", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "2", viewbox: "0 0 24 24", width: "24"}
                    %rect{height: "16", rx: "2", width: "20", x: "2", y: "4"}
                    %path{d: "M10 4v4"}
                    %path{d: "M2 8h20"}
                    %path{d: "M6 4v4"}
                  %div
                    %span.text-gray-900.text-sm Demo mode
                    %span.text-gray-500.text-xs.block Coming soon...
                .relative.inline-block.cursor-not-allowed{title: "Coming soon..."}
                  %label.cursor-not-allowed.block.bg-gray-100.w-9.h-5.rounded-full.after:block.after:absolute.after:bg-white.after:w-4.after:h-4.after:rounded-full.after:transition-transform.after:duration-300.after:ease-in-out.peer-checked:bg-green-600.peer-checked:after:translate-x-4{class: "after:content-[''] after:top-0.5 after:left-0.5"}
            .border-t.border-b.border-alpha-black-100.p-1
              %a.flex.gap-2.items-center.hover:bg-gray-50.rounded-lg.px-3.py-2{href: "/changelog"}
                %svg.w-5.h-5.text-gray-500.shrink-0{"aria-hidden" => "true", fill: "none", height: "24", stroke: "currentColor", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "2", viewbox: "0 0 24 24", width: "24"}
                  %path{d: "M21 8a2 2 0 0 0-1-1.73l-7-4a2 2 0 0 0-2 0l-7 4A2 2 0 0 0 3 8v8a2 2 0 0 0 1 1.73l7 4a2 2 0 0 0 2 0l7-4A2 2 0 0 0 21 16Z"}
                  %path{d: "m3.3 7 8.7 5 8.7-5"}
                  %path{d: "M12 22V12"}
                %span.text-gray-900.text-sm Changelog
              %a.flex.gap-2.items-center.hover:bg-gray-50.rounded-lg.px-3.py-2{href: "/feedback"}
                %svg.w-5.h-5.text-gray-500.shrink-0{"aria-hidden" => "true", fill: "none", height: "24", stroke: "currentColor", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "2", viewbox: "0 0 24 24", width: "24"}
                  %path{d: "m3 11 18-5v12L3 14v-3z"}
                  %path{d: "M11.6 16.8a3 3 0 1 1-5.8-1.6"}
                %span.text-gray-900.text-sm Feedback
              %a.flex.gap-2.items-center.hover:bg-gray-50.rounded-lg.px-3.py-2{href: ""}
                %svg.w-5.h-5.text-gray-500.shrink-0{"aria-hidden" => "true", fill: "none", height: "24", stroke: "currentColor", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "2", viewbox: "0 0 24 24", width: "24"}
                  %path{d: "M21 15a2 2 0 0 1-2 2H7l-4 4V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2z"}
                  %path{d: "M8 10h.01"}
                  %path{d: "M12 10h.01"}
                  %path{d: "M16 10h.01"}
                %span.text-gray-900.text-sm Contact
            .p-1
              %form.button_to{action: "/session", method: "post"}
                %input{autocomplete: "off", name: "_method", type: "hidden", value: "delete"}/
                %button.w-full.text-red-400.flex.gap-1.items-center.hover:bg-gray-50.rounded-lg.px-3.py-2{type: "submit"}
                  %svg.w-5.h-5.shrink-0{"aria-hidden" => "true", fill: "none", height: "24", stroke: "currentColor", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "2", viewbox: "0 0 24 24", width: "24"}
                    %path{d: "M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"}
                    %polyline{points: "16 17 21 12 16 7"}
                    %line{x1: "21", x2: "9", y1: "12", y2: "12"}
                  %span.text-sm Logout
                %input{autocomplete: "off", name: "authenticity_token", type: "hidden", value: "uTWV5eL9MhmWWR35rnE8yTW3STSSjeUw7oWDkhFP9H6m3bmDNC_sT2BYvReQiq7UdumfA3BiXp0_vYmqwo_u8g"}/
      %nav
        %ul.mt-6.space-y-1
          %li
            %a.flex.items-center.gap-2.px-3.py-2.rounded-xl.border.text-sm.font-medium.text-gray-500.hover:bg-gray-100.border-transparent{href: "/", icon: "layout-grid"}
              %svg.w-5.h-5{"aria-hidden" => "true", fill: "none", height: "24", stroke: "currentColor", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "2", viewbox: "0 0 24 24", width: "24"}>
                %rect{height: "7", rx: "1", width: "7", x: "3", y: "3"}
                %rect{height: "7", rx: "1", width: "7", x: "14", y: "3"}
                %rect{height: "7", rx: "1", width: "7", x: "14", y: "14"}
                %rect{height: "7", rx: "1", width: "7", x: "3", y: "14"}
              Dashboard
          %li
            %a.flex.items-center.gap-2.px-3.py-2.rounded-xl.border.text-sm.font-medium.text-gray-500.bg-white.text-gray-900.shadow-xs.border-alpha-black-50{"aria-current" => "page", href: "/accounts/summary", icon: "layers"}
              %svg.w-5.h-5{"aria-hidden" => "true", fill: "none", height: "24", stroke: "currentColor", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "2", viewbox: "0 0 24 24", width: "24"}>
                %path{d: "m12.83 2.18a2 2 0 0 0-1.66 0L2.6 6.08a1 1 0 0 0 0 1.83l8.58 3.91a2 2 0 0 0 1.66 0l8.58-3.9a1 1 0 0 0 0-1.83Z"}
                %path{d: "m22 17.65-9.17 4.16a2 2 0 0 1-1.66 0L2 17.65"}
                %path{d: "m22 12.65-9.17 4.16a2 2 0 0 1-1.66 0L2 12.65"}
              Accounts
          %li
            %a.flex.items-center.gap-2.px-3.py-2.rounded-xl.border.text-sm.font-medium.text-gray-500.hover:bg-gray-100.border-transparent{href: "/transactions", icon: "credit-card"}
              %svg.w-5.h-5{"aria-hidden" => "true", fill: "none", height: "24", stroke: "currentColor", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "2", viewbox: "0 0 24 24", width: "24"}>
                %rect{height: "14", rx: "2", width: "20", x: "2", y: "5"}
                %line{x1: "2", x2: "22", y1: "10", y2: "10"}
              Transactions
      .flex.flex-col.mt-6
        .flex.items-center.justify-between.px-3.py-2.mb-2
          .flex.items-center.gap-2.text-xs.uppercase.text-gray-500
            %a.text-xs.uppercase.text-gray-500.font-bold.tracking-wide{href: "/accounts"}
              Portfolio
            %span.font-bold.tracking-wide •
            %form.space-y-4{"accept-charset" => "UTF-8", action: "/accounts/list", "data-controller" => "auto-submit-form", "data-turbo-frame" => "account-list", method: "get"}
              / BEGIN app/views/shared/_period_select.html.erb
              .relative{"data-controller" => "select", "data-select-active-class" => "bg-alpha-black-50", "data-select-selected-value" => "last_30_days"}
                %button.flex.items-center.gap-1.w-full.cursor-pointer.font-bold.tracking-wide{"data-select-target" => "button", type: "button"}
                  %span{"data-select-target" => "buttonText"} 1M
                  %svg.w-5.h-5.text-gray-500{"aria-hidden" => "true", fill: "none", height: "24", stroke: "currentColor", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "2", viewbox: "0 0 24 24", width: "24"}
                    %path{d: "m6 9 6 6 6-6"}
                %input{"data-auto-submit-form-target" => "auto", "data-select-target" => "input", name: "period", type: "hidden"}/
                %ul.hidden.absolute.z-10.right-0.border.border-alpha-black-25.bg-white.rounded-lg.shadow-xs{class: "top-[100%]", "data-select-target" => "list"}
                  %li.text-sm.text-gray-900.rounded-lg.cursor-pointer.hover:bg-alpha-black-50.px-5.py-1{"aria-selected" => "false", "data-action" => "click->select#selectOption", "data-select-target" => "option", "data-value" => "last_7_days", tabindex: "-1"}
                    7D
                  %li.text-sm.text-gray-900.rounded-lg.cursor-pointer.hover:bg-alpha-black-50.px-5.py-1.bg-alpha-black-50{"aria-selected" => "true", "data-action" => "click->select#selectOption", "data-select-target" => "option", "data-value" => "last_30_days", tabindex: "-1"}
                    1M
                  %li.text-sm.text-gray-900.rounded-lg.cursor-pointer.hover:bg-alpha-black-50.px-5.py-1{"aria-selected" => "false", "data-action" => "click->select#selectOption", "data-select-target" => "option", "data-value" => "last_365_days", tabindex: "-1"}
                    1Y
                  %li.text-sm.text-gray-900.rounded-lg.cursor-pointer.hover:bg-alpha-black-50.px-5.py-1{"aria-selected" => "false", "data-action" => "click->select#selectOption", "data-select-target" => "option", "data-value" => "all", tabindex: "-1"}
                    All
              / END app/views/shared/_period_select.html.erb
          %a.block.hover:bg-gray-100.p-2.text-sm.font-semibold.text-gray-900.flex.items-center.rounded{"data-turbo-frame" => "modal", href: "/accounts/new", title: "New account"}
            %svg.w-5.h-5.text-gray-500{"aria-hidden" => "true", fill: "none", height: "24", stroke: "currentColor", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "2", viewbox: "0 0 24 24", width: "24"}
              %path{d: "M5 12h14"}
              %path{d: "M12 5v14"}
        %turbo-frame#account-list{target: "_top"}
          / BEGIN app/views/accounts/_account_list.html.erb
          %details.mb-1.text-sm.group{"data-account-collapse-type-value" => "Account::Depository", "data-controller" => "account-collapse", open: ""}
            %summary.flex.gap-4.px-3.py-2.items-center.w-full.font-medium.hover:bg-gray-100{class: "rounded-[10px]"}
              %svg.hidden.group-open:block.text-gray-500.w-5.h-5{"aria-hidden" => "true", fill: "none", height: "24", stroke: "currentColor", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "2", viewbox: "0 0 24 24", width: "24"}
                %path{d: "m6 9 6 6 6-6"}
              %svg.group-open:hidden.text-gray-500.w-5.h-5{"aria-hidden" => "true", fill: "none", height: "24", stroke: "currentColor", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "2", viewbox: "0 0 24 24", width: "24"}
                %path{d: "m9 18 6-6-6-6"}
              .text-left Bank Account
              .ml-auto.flex.flex-col.items-end
                %p.text-right $0.00
                .flex.items-center.gap-1
                  #Account::Depository_sparkline.h-3.w-8.ml-auto{"data-controller" => "time-series-chart", "data-time-series-chart-data-value" => "{\"values\":[],\"trend\":{\"favorable_direction\":\"up\",\"direction\":\"flat\",\"value\":0,\"percent\":0.0},\"favorable_direction\":\"up\"}", "data-time-series-chart-stroke-width-value" => "1", "data-time-series-chart-use-labels-value" => "false", "data-time-series-chart-use-tooltip-value" => "false"}
                    %svg{height: "12", viewbox: "0,0,32,12", width: "32"}
                      %line{stroke: "#D6D6D6", "stroke-dasharray" => "4, 4", x1: "16", x2: "16", y1: "0", y2: "12"}
                      %circle{cx: "16", cy: "6", r: "4", style: "fill: rgb(163, 163, 163);"}
                  %span.text-xs.text-gray-500 +0.00%
            %a.flex.items-center.min-h-10.gap-4.px-3.py-2.mb-1.text-gray-500.text-sm.font-medium.hover:bg-gray-100{class: "rounded-[10px]", "data-turbo-frame" => "modal", href: "/accounts/new?step=method&type=Depository"}
              %svg.w-5.h-5{"aria-hidden" => "true", fill: "none", height: "24", stroke: "currentColor", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "2", viewbox: "0 0 24 24", width: "24"}
                %path{d: "M5 12h14"}
                %path{d: "M12 5v14"}
              %p New bank account
          / END app/views/accounts/_account_list.html.erb
          / BEGIN app/views/accounts/_account_list.html.erb
          %details.mb-1.text-sm.group{"data-account-collapse-type-value" => "Account::Investment", "data-controller" => "account-collapse"}
            %summary.flex.gap-4.px-3.py-2.items-center.w-full.font-medium.hover:bg-gray-100{class: "rounded-[10px]"}
              %svg.hidden.group-open:block.text-gray-500.w-5.h-5{"aria-hidden" => "true", fill: "none", height: "24", stroke: "currentColor", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "2", viewbox: "0 0 24 24", width: "24"}
                %path{d: "m6 9 6 6 6-6"}
              %svg.group-open:hidden.text-gray-500.w-5.h-5{"aria-hidden" => "true", fill: "none", height: "24", stroke: "currentColor", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "2", viewbox: "0 0 24 24", width: "24"}
                %path{d: "m9 18 6-6-6-6"}
              .text-left Investment
              .ml-auto.flex.flex-col.items-end
                %p.text-right $0.00
                .flex.items-center.gap-1
                  #Account::Investment_sparkline.h-3.w-8.ml-auto{"data-controller" => "time-series-chart", "data-time-series-chart-data-value" => "{\"values\":[],\"trend\":{\"favorable_direction\":\"up\",\"direction\":\"flat\",\"value\":0,\"percent\":0.0},\"favorable_direction\":\"up\"}", "data-time-series-chart-stroke-width-value" => "1", "data-time-series-chart-use-labels-value" => "false", "data-time-series-chart-use-tooltip-value" => "false"}
                    %svg{height: "12", viewbox: "0,0,32,12", width: "32"}
                      %line{stroke: "#D6D6D6", "stroke-dasharray" => "4, 4", x1: "16", x2: "16", y1: "0", y2: "12"}
                      %circle{cx: "16", cy: "6", r: "4", style: "fill: rgb(163, 163, 163);"}
                  %span.text-xs.text-gray-500 +0.00%
            %a.flex.items-center.min-h-10.gap-4.px-3.py-2.mb-1.text-gray-500.text-sm.font-medium.hover:bg-gray-100{class: "rounded-[10px]", "data-turbo-frame" => "modal", href: "/accounts/new?step=method&type=Investment"}
              %svg.w-5.h-5{"aria-hidden" => "true", fill: "none", height: "24", stroke: "currentColor", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "2", viewbox: "0 0 24 24", width: "24"}
                %path{d: "M5 12h14"}
                %path{d: "M12 5v14"}
              %p New investment
          / END app/views/accounts/_account_list.html.erb
          / BEGIN app/views/accounts/_account_list.html.erb
          %details.mb-1.text-sm.group{"data-account-collapse-type-value" => "Account::Crypto", "data-controller" => "account-collapse", open: ""}
            %summary.flex.gap-4.px-3.py-2.items-center.w-full.font-medium.hover:bg-gray-100{class: "rounded-[10px]"}
              %svg.hidden.group-open:block.text-gray-500.w-5.h-5{"aria-hidden" => "true", fill: "none", height: "24", stroke: "currentColor", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "2", viewbox: "0 0 24 24", width: "24"}
                %path{d: "m6 9 6 6 6-6"}
              %svg.group-open:hidden.text-gray-500.w-5.h-5{"aria-hidden" => "true", fill: "none", height: "24", stroke: "currentColor", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "2", viewbox: "0 0 24 24", width: "24"}
                %path{d: "m9 18 6-6-6-6"}
              .text-left Crypto
              .ml-auto.flex.flex-col.items-end
                %p.text-right $0.00
                .flex.items-center.gap-1
                  #Account::Crypto_sparkline.h-3.w-8.ml-auto{"data-controller" => "time-series-chart", "data-time-series-chart-data-value" => "{\"values\":[],\"trend\":{\"favorable_direction\":\"up\",\"direction\":\"flat\",\"value\":0,\"percent\":0.0},\"favorable_direction\":\"up\"}", "data-time-series-chart-stroke-width-value" => "1", "data-time-series-chart-use-labels-value" => "false", "data-time-series-chart-use-tooltip-value" => "false"}
                    %svg{height: "12", viewbox: "0,0,32,12", width: "32"}
                      %line{stroke: "#D6D6D6", "stroke-dasharray" => "4, 4", x1: "16", x2: "16", y1: "0", y2: "12"}
                      %circle{cx: "16", cy: "6", r: "4", style: "fill: rgb(163, 163, 163);"}
                  %span.text-xs.text-gray-500 +0.00%
            %a.flex.items-center.min-h-10.gap-4.px-3.py-2.mb-1.text-gray-500.text-sm.font-medium.hover:bg-gray-100{class: "rounded-[10px]", "data-turbo-frame" => "modal", href: "/accounts/new?step=method&type=Crypto"}
              %svg.w-5.h-5{"aria-hidden" => "true", fill: "none", height: "24", stroke: "currentColor", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "2", viewbox: "0 0 24 24", width: "24"}
                %path{d: "M5 12h14"}
                %path{d: "M12 5v14"}
              %p New crypto
          / END app/views/accounts/_account_list.html.erb
          / BEGIN app/views/accounts/_account_list.html.erb
          %details.mb-1.text-sm.group{"data-account-collapse-type-value" => "Account::OtherAsset", "data-controller" => "account-collapse"}
            %summary.flex.gap-4.px-3.py-2.items-center.w-full.font-medium.hover:bg-gray-100{class: "rounded-[10px]"}
              %svg.hidden.group-open:block.text-gray-500.w-5.h-5{"aria-hidden" => "true", fill: "none", height: "24", stroke: "currentColor", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "2", viewbox: "0 0 24 24", width: "24"}
                %path{d: "m6 9 6 6 6-6"}
              %svg.group-open:hidden.text-gray-500.w-5.h-5{"aria-hidden" => "true", fill: "none", height: "24", stroke: "currentColor", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "2", viewbox: "0 0 24 24", width: "24"}
                %path{d: "m9 18 6-6-6-6"}
              .text-left Other Asset
              .ml-auto.flex.flex-col.items-end
                %p.text-right $0.00
                .flex.items-center.gap-1
                  #Account::OtherAsset_sparkline.h-3.w-8.ml-auto{"data-controller" => "time-series-chart", "data-time-series-chart-data-value" => "{\"values\":[],\"trend\":{\"favorable_direction\":\"up\",\"direction\":\"flat\",\"value\":0,\"percent\":0.0},\"favorable_direction\":\"up\"}", "data-time-series-chart-stroke-width-value" => "1", "data-time-series-chart-use-labels-value" => "false", "data-time-series-chart-use-tooltip-value" => "false"}
                    %svg{height: "12", viewbox: "0,0,32,12", width: "32"}
                      %line{stroke: "#D6D6D6", "stroke-dasharray" => "4, 4", x1: "16", x2: "16", y1: "0", y2: "12"}
                      %circle{cx: "16", cy: "6", r: "4", style: "fill: rgb(163, 163, 163);"}
                  %span.text-xs.text-gray-500 +0.00%
            %a.flex.items-center.min-h-10.gap-4.px-3.py-2.mb-1.text-gray-500.text-sm.font-medium.hover:bg-gray-100{class: "rounded-[10px]", "data-turbo-frame" => "modal", href: "/accounts/new?step=method&type=OtherAsset"}
              %svg.w-5.h-5{"aria-hidden" => "true", fill: "none", height: "24", stroke: "currentColor", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "2", viewbox: "0 0 24 24", width: "24"}
                %path{d: "M5 12h14"}
                %path{d: "M12 5v14"}
              %p New other asset
          / END app/views/accounts/_account_list.html.erb
          / BEGIN app/views/accounts/_account_list.html.erb
          %details.mb-1.text-sm.group{"data-account-collapse-type-value" => "Account::Property", "data-controller" => "account-collapse"}
            %summary.flex.gap-4.px-3.py-2.items-center.w-full.font-medium.hover:bg-gray-100{class: "rounded-[10px]"}
              %svg.hidden.group-open:block.text-gray-500.w-5.h-5{"aria-hidden" => "true", fill: "none", height: "24", stroke: "currentColor", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "2", viewbox: "0 0 24 24", width: "24"}
                %path{d: "m6 9 6 6 6-6"}
              %svg.group-open:hidden.text-gray-500.w-5.h-5{"aria-hidden" => "true", fill: "none", height: "24", stroke: "currentColor", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "2", viewbox: "0 0 24 24", width: "24"}
                %path{d: "m9 18 6-6-6-6"}
              .text-left Real Estate
              .ml-auto.flex.flex-col.items-end
                %p.text-right $1,200.00
                .flex.items-center.gap-1
                  #Account::Property_sparkline.h-3.w-8.ml-auto{"data-controller" => "time-series-chart", "data-time-series-chart-data-value" => "{\"values\":[{\"date\":\"2024-05-19\",\"value\":{\"amount\":\"1200.0\",\"currency\":\"USD\"},\"trend\":{\"favorable_direction\":\"up\",\"direction\":\"flat\",\"value\":{\"amount\":\"0.0\",\"currency\":\"USD\"},\"percent\":0.0}}],\"trend\":{\"favorable_direction\":\"up\",\"direction\":\"flat\",\"value\":{\"amount\":\"0.0\",\"currency\":\"USD\"},\"percent\":0.0},\"favorable_direction\":\"up\"}", "data-time-series-chart-stroke-width-value" => "1", "data-time-series-chart-use-labels-value" => "false", "data-time-series-chart-use-tooltip-value" => "false"}
                    %svg{height: "12", viewbox: "0,0,32,12", width: "32"}
                      %line{stroke: "#D6D6D6", "stroke-dasharray" => "4, 4", x1: "16", x2: "16", y1: "0", y2: "12"}
                      %circle{cx: "16", cy: "6", r: "4", style: "fill: rgb(163, 163, 163);"}
                  %span.text-xs.text-gray-500 +0.00%
            %a.flex.items-center.w-full.gap-3.px-3.py-2.mb-1.hover:bg-gray-100{class: "rounded-[10px]", href: "/accounts/cb35ba3a-243d-4d55-8c3b-884b1279f055"}
              %img.w-6.h-6{src: "http://[::1]:3000/accounts/cb35ba3a-243d-4d55-8c3b-884b1279f055/logo"}/
              %div
                %p.font-medium ere
              .flex.flex-col.ml-auto.font-medium.text-right
                %p $1,200.00
                .flex.items-center.gap-1
                  #list_sparkline_account_cb35ba3a-243d-4d55-8c3b-884b1279f055.h-3.w-8.ml-auto{"data-controller" => "time-series-chart", "data-time-series-chart-data-value" => "{\"values\":[{\"date\":\"2024-05-19\",\"value\":{\"amount\":\"1200.0\",\"currency\":\"USD\"},\"trend\":{\"favorable_direction\":\"up\",\"direction\":\"flat\",\"value\":{\"amount\":\"0.0\",\"currency\":\"USD\"},\"percent\":0.0}}],\"trend\":{\"favorable_direction\":\"up\",\"direction\":\"flat\",\"value\":{\"amount\":\"0.0\",\"currency\":\"USD\"},\"percent\":0.0},\"favorable_direction\":\"up\"}", "data-time-series-chart-stroke-width-value" => "1", "data-time-series-chart-use-labels-value" => "false", "data-time-series-chart-use-tooltip-value" => "false"}
                    %svg{height: "12", viewbox: "0,0,32,12", width: "32"}
                      %line{stroke: "#D6D6D6", "stroke-dasharray" => "4, 4", x1: "16", x2: "16", y1: "0", y2: "12"}
                      %circle{cx: "16", cy: "6", r: "4", style: "fill: rgb(163, 163, 163);"}
                  %span.text-xs.text-gray-500 +0.00%
            %a.flex.items-center.min-h-10.gap-4.px-3.py-2.mb-1.text-gray-500.text-sm.font-medium.hover:bg-gray-100{class: "rounded-[10px]", "data-turbo-frame" => "modal", href: "/accounts/new?step=method&type=Property"}
              %svg.w-5.h-5{"aria-hidden" => "true", fill: "none", height: "24", stroke: "currentColor", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "2", viewbox: "0 0 24 24", width: "24"}
                %path{d: "M5 12h14"}
                %path{d: "M12 5v14"}
              %p New real estate
          / END app/views/accounts/_account_list.html.erb
          / BEGIN app/views/accounts/_account_list.html.erb
          %details.mb-1.text-sm.group{"data-account-collapse-type-value" => "Account::Vehicle", "data-controller" => "account-collapse"}
            %summary.flex.gap-4.px-3.py-2.items-center.w-full.font-medium.hover:bg-gray-100{class: "rounded-[10px]"}
              %svg.hidden.group-open:block.text-gray-500.w-5.h-5{"aria-hidden" => "true", fill: "none", height: "24", stroke: "currentColor", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "2", viewbox: "0 0 24 24", width: "24"}
                %path{d: "m6 9 6 6 6-6"}
              %svg.group-open:hidden.text-gray-500.w-5.h-5{"aria-hidden" => "true", fill: "none", height: "24", stroke: "currentColor", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "2", viewbox: "0 0 24 24", width: "24"}
                %path{d: "m9 18 6-6-6-6"}
              .text-left Vehicle
              .ml-auto.flex.flex-col.items-end
                %p.text-right $0.00
                .flex.items-center.gap-1
                  #Account::Vehicle_sparkline.h-3.w-8.ml-auto{"data-controller" => "time-series-chart", "data-time-series-chart-data-value" => "{\"values\":[],\"trend\":{\"favorable_direction\":\"up\",\"direction\":\"flat\",\"value\":0,\"percent\":0.0},\"favorable_direction\":\"up\"}", "data-time-series-chart-stroke-width-value" => "1", "data-time-series-chart-use-labels-value" => "false", "data-time-series-chart-use-tooltip-value" => "false"}
                    %svg{height: "12", viewbox: "0,0,32,12", width: "32"}
                      %line{stroke: "#D6D6D6", "stroke-dasharray" => "4, 4", x1: "16", x2: "16", y1: "0", y2: "12"}
                      %circle{cx: "16", cy: "6", r: "4", style: "fill: rgb(163, 163, 163);"}
                  %span.text-xs.text-gray-500 +0.00%
            %a.flex.items-center.min-h-10.gap-4.px-3.py-2.mb-1.text-gray-500.text-sm.font-medium.hover:bg-gray-100{class: "rounded-[10px]", "data-turbo-frame" => "modal", href: "/accounts/new?step=method&type=Vehicle"}
              %svg.w-5.h-5{"aria-hidden" => "true", fill: "none", height: "24", stroke: "currentColor", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "2", viewbox: "0 0 24 24", width: "24"}
                %path{d: "M5 12h14"}
                %path{d: "M12 5v14"}
              %p New vehicle
          / END app/views/accounts/_account_list.html.erb
          / BEGIN app/views/accounts/_account_list.html.erb
          %details.mb-1.text-sm.group{"data-account-collapse-type-value" => "Account::Credit", "data-controller" => "account-collapse"}
            %summary.flex.gap-4.px-3.py-2.items-center.w-full.font-medium.hover:bg-gray-100{class: "rounded-[10px]"}
              %svg.hidden.group-open:block.text-gray-500.w-5.h-5{"aria-hidden" => "true", fill: "none", height: "24", stroke: "currentColor", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "2", viewbox: "0 0 24 24", width: "24"}
                %path{d: "m6 9 6 6 6-6"}
              %svg.group-open:hidden.text-gray-500.w-5.h-5{"aria-hidden" => "true", fill: "none", height: "24", stroke: "currentColor", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "2", viewbox: "0 0 24 24", width: "24"}
                %path{d: "m9 18 6-6-6-6"}
              .text-left Credit Card
              .ml-auto.flex.flex-col.items-end
                %p.text-right $0.00
                .flex.items-center.gap-1
                  #Account::Credit_sparkline.h-3.w-8.ml-auto{"data-controller" => "time-series-chart", "data-time-series-chart-data-value" => "{\"values\":[],\"trend\":{\"favorable_direction\":\"up\",\"direction\":\"flat\",\"value\":0,\"percent\":0.0},\"favorable_direction\":\"up\"}", "data-time-series-chart-stroke-width-value" => "1", "data-time-series-chart-use-labels-value" => "false", "data-time-series-chart-use-tooltip-value" => "false"}
                    %svg{height: "12", viewbox: "0,0,32,12", width: "32"}
                      %line{stroke: "#D6D6D6", "stroke-dasharray" => "4, 4", x1: "16", x2: "16", y1: "0", y2: "12"}
                      %circle{cx: "16", cy: "6", r: "4", style: "fill: rgb(163, 163, 163);"}
                  %span.text-xs.text-gray-500 +0.00%
            %a.flex.items-center.min-h-10.gap-4.px-3.py-2.mb-1.text-gray-500.text-sm.font-medium.hover:bg-gray-100{class: "rounded-[10px]", "data-turbo-frame" => "modal", href: "/accounts/new?step=method&type=Credit"}
              %svg.w-5.h-5{"aria-hidden" => "true", fill: "none", height: "24", stroke: "currentColor", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "2", viewbox: "0 0 24 24", width: "24"}
                %path{d: "M5 12h14"}
                %path{d: "M12 5v14"}
              %p New credit card
          / END app/views/accounts/_account_list.html.erb
          / BEGIN app/views/accounts/_account_list.html.erb
          %details.mb-1.text-sm.group{"data-account-collapse-type-value" => "Account::Loan", "data-controller" => "account-collapse"}
            %summary.flex.gap-4.px-3.py-2.items-center.w-full.font-medium.hover:bg-gray-100{class: "rounded-[10px]"}
              %svg.hidden.group-open:block.text-gray-500.w-5.h-5{"aria-hidden" => "true", fill: "none", height: "24", stroke: "currentColor", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "2", viewbox: "0 0 24 24", width: "24"}
                %path{d: "m6 9 6 6 6-6"}
              %svg.group-open:hidden.text-gray-500.w-5.h-5{"aria-hidden" => "true", fill: "none", height: "24", stroke: "currentColor", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "2", viewbox: "0 0 24 24", width: "24"}
                %path{d: "m9 18 6-6-6-6"}
              .text-left Loan
              .ml-auto.flex.flex-col.items-end
                %p.text-right $0.00
                .flex.items-center.gap-1
                  #Account::Loan_sparkline.h-3.w-8.ml-auto{"data-controller" => "time-series-chart", "data-time-series-chart-data-value" => "{\"values\":[],\"trend\":{\"favorable_direction\":\"up\",\"direction\":\"flat\",\"value\":0,\"percent\":0.0},\"favorable_direction\":\"up\"}", "data-time-series-chart-stroke-width-value" => "1", "data-time-series-chart-use-labels-value" => "false", "data-time-series-chart-use-tooltip-value" => "false"}
                    %svg{height: "12", viewbox: "0,0,32,12", width: "32"}
                      %line{stroke: "#D6D6D6", "stroke-dasharray" => "4, 4", x1: "16", x2: "16", y1: "0", y2: "12"}
                      %circle{cx: "16", cy: "6", r: "4", style: "fill: rgb(163, 163, 163);"}
                  %span.text-xs.text-gray-500 +0.00%
            %a.flex.items-center.min-h-10.gap-4.px-3.py-2.mb-1.text-gray-500.text-sm.font-medium.hover:bg-gray-100{class: "rounded-[10px]", "data-turbo-frame" => "modal", href: "/accounts/new?step=method&type=Loan"}
              %svg.w-5.h-5{"aria-hidden" => "true", fill: "none", height: "24", stroke: "currentColor", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "2", viewbox: "0 0 24 24", width: "24"}
                %path{d: "M5 12h14"}
                %path{d: "M12 5v14"}
              %p New loan
          / END app/views/accounts/_account_list.html.erb
          / BEGIN app/views/accounts/_account_list.html.erb
          %details.mb-1.text-sm.group{"data-account-collapse-type-value" => "Account::OtherLiability", "data-controller" => "account-collapse"}
            %summary.flex.gap-4.px-3.py-2.items-center.w-full.font-medium.hover:bg-gray-100{class: "rounded-[10px]"}
              %svg.hidden.group-open:block.text-gray-500.w-5.h-5{"aria-hidden" => "true", fill: "none", height: "24", stroke: "currentColor", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "2", viewbox: "0 0 24 24", width: "24"}
                %path{d: "m6 9 6 6 6-6"}
              %svg.group-open:hidden.text-gray-500.w-5.h-5{"aria-hidden" => "true", fill: "none", height: "24", stroke: "currentColor", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "2", viewbox: "0 0 24 24", width: "24"}
                %path{d: "m9 18 6-6-6-6"}
              .text-left Other Liability
              .ml-auto.flex.flex-col.items-end
                %p.text-right $0.00
                .flex.items-center.gap-1
                  #Account::OtherLiability_sparkline.h-3.w-8.ml-auto{"data-controller" => "time-series-chart", "data-time-series-chart-data-value" => "{\"values\":[],\"trend\":{\"favorable_direction\":\"up\",\"direction\":\"flat\",\"value\":0,\"percent\":0.0},\"favorable_direction\":\"up\"}", "data-time-series-chart-stroke-width-value" => "1", "data-time-series-chart-use-labels-value" => "false", "data-time-series-chart-use-tooltip-value" => "false"}
                    %svg{height: "12", viewbox: "0,0,32,12", width: "32"}
                      %line{stroke: "#D6D6D6", "stroke-dasharray" => "4, 4", x1: "16", x2: "16", y1: "0", y2: "12"}
                      %circle{cx: "16", cy: "6", r: "4", style: "fill: rgb(163, 163, 163);"}
                  %span.text-xs.text-gray-500 +0.00%
            %a.flex.items-center.min-h-10.gap-4.px-3.py-2.mb-1.text-gray-500.text-sm.font-medium.hover:bg-gray-100{class: "rounded-[10px]", "data-turbo-frame" => "modal", href: "/accounts/new?step=method&type=OtherLiability"}
              %svg.w-5.h-5{"aria-hidden" => "true", fill: "none", height: "24", stroke: "currentColor", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "2", viewbox: "0 0 24 24", width: "24"}
                %path{d: "M5 12h14"}
                %path{d: "M12 5v14"}
              %p New other liability
          / END app/views/accounts/_account_list.html.erb
      / END app/views/layouts/_sidebar.html.erb
    %main.grow.px-20.pt-6.pb-32.h-full.overflow-y-auto
      / BEGIN app/views/accounts/summary.html.erb
      .space-y-4
        .flex.items-center.justify-between
          %h1.text-xl.font-medium.text-gray-900 Accounts
          %a.flex.text-white.text-sm.font-medium.items-center.gap-1.bg-gray-900.rounded-lg.p-2.pr-3{"data-turbo-frame" => "modal", href: "/accounts/new"}
            %svg.w-5.h-5{"aria-hidden" => "true", fill: "none", height: "24", stroke: "currentColor", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "2", viewbox: "0 0 24 24", width: "24"}
              %path{d: "M5 12h14"}
              %path{d: "M12 5v14"}
            %span New account
        .bg-white.rounded-xl.shadow-xs.border.border-alpha-black-100.flex.divide-x.divide-gray-200
          .p-4.flex.items-stretch.justify-between{class: "w-1/2"}
            .space-y-2.grow
              / BEGIN app/views/shared/_value_heading.html.erb
              .space-y-2
                %p.text-sm.text-gray-500.font-medium Assets
                %p.text-gray-900{class: "-space-x-0.5"}
                  %span.text-gray-500 $
                  %span.text-xl.font-medium 1,200
                  %span.text-gray-500
                    \.00
                %p.text-sm.text-gray-500 No change vs. prior period
              / END app/views/shared/_value_heading.html.erb
            #assetsChart.h-full{class: "w-2/5", "data-controller" => "time-series-chart", "data-time-series-chart-data-value" => "{\"values\":[],\"trend\":{\"favorable_direction\":\"up\",\"direction\":\"flat\",\"value\":0,\"percent\":0.0},\"favorable_direction\":\"up\"}", "data-time-series-chart-use-labels-value" => "false"}
              %svg{height: "84", viewbox: "0,0,137,84", width: "137"}
                %line{stroke: "#D6D6D6", "stroke-dasharray" => "4, 4", x1: "68.5", x2: "68.5", y1: "0", y2: "84"}
                %circle{cx: "68.5", cy: "42", r: "4", style: "fill: rgb(163, 163, 163);"}
          .p-4.flex.items-stretch.justify-between{class: "w-1/2"}
            .space-y-2.grow
              / BEGIN app/views/shared/_value_heading.html.erb
              .space-y-2
                %p.text-sm.text-gray-500.font-medium Liabilities
                %p.text-gray-900{class: "-space-x-0.5"}
                  %span.text-gray-500 $
                  %span.text-lg.font-medium 0
                  %span.text-gray-500
                    \.00
                %p.text-sm.text-gray-500 No change vs. prior period
              / END app/views/shared/_value_heading.html.erb
            #liabilitiesChart.h-full{class: "w-2/5", "data-controller" => "time-series-chart", "data-time-series-chart-data-value" => "{\"values\":[],\"trend\":{\"favorable_direction\":\"up\",\"direction\":\"flat\",\"value\":0,\"percent\":0.0},\"favorable_direction\":\"up\"}", "data-time-series-chart-use-labels-value" => "false"}
              %svg{height: "84", viewbox: "0,0,137,84", width: "137"}
                %line{stroke: "#D6D6D6", "stroke-dasharray" => "4, 4", x1: "68.5", x2: "68.5", y1: "0", y2: "84"}
                %circle{cx: "68.5", cy: "42", r: "4", style: "fill: rgb(163, 163, 163);"}
        .p-4.bg-white.rounded-xl.shadow-xs.border.border-alpha-black-25.space-y-4
          .flex.justify-between.items-center.mb-5
            %h2.text-lg.font-medium.text-gray-900 Assets
            .flex.items-center.gap-2
              %a.flex.items-center.gap-1.p-2.pr-3.text-gray-900.text-sm.font-medium.bg-gray-50.rounded-lg.hover:bg-gray-100{"data-turbo-frame" => "modal", href: "/accounts/new"}
                %svg.w-5.h-5.text-gray-500{"aria-hidden" => "true", fill: "none", height: "24", stroke: "currentColor", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "2", viewbox: "0 0 24 24", width: "24"}
                  %path{d: "M5 12h14"}
                  %path{d: "M12 5v14"}
                %p New account
              %form.space-y-4{"accept-charset" => "UTF-8", action: "/accounts/summary", "data-controller" => "auto-submit-form", method: "get"}
                / BEGIN app/views/shared/_period_select.html.erb
                .relative{"data-controller" => "select", "data-select-active-class" => "bg-alpha-black-50", "data-select-selected-value" => "last_30_days"}
                  %button.flex.items-center.gap-1.w-full.border.border-alpha-black-100.shadow-xs.rounded-lg.text-sm.p-2.cursor-pointer.text-gray-900.text-sm{"data-select-target" => "button", type: "button"}
                    %span{"data-select-target" => "buttonText"} 1M
                    %svg.w-5.h-5.text-gray-500{"aria-hidden" => "true", fill: "none", height: "24", stroke: "currentColor", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "2", viewbox: "0 0 24 24", width: "24"}
                      %path{d: "m6 9 6 6 6-6"}
                  %input{"data-auto-submit-form-target" => "auto", "data-select-target" => "input", name: "period", type: "hidden"}/
                  %ul.hidden.absolute.z-10.right-0.border.border-alpha-black-25.bg-white.rounded-lg.shadow-xs{class: "top-[100%]", "data-select-target" => "list"}
                    %li.text-sm.text-gray-900.rounded-lg.cursor-pointer.hover:bg-alpha-black-50.px-5.py-1{"aria-selected" => "false", "data-action" => "click->select#selectOption", "data-select-target" => "option", "data-value" => "last_7_days", tabindex: "-1"}
                      7D
                    %li.text-sm.text-gray-900.rounded-lg.cursor-pointer.hover:bg-alpha-black-50.px-5.py-1.bg-alpha-black-50{"aria-selected" => "true", "data-action" => "click->select#selectOption", "data-select-target" => "option", "data-value" => "last_30_days", tabindex: "-1"}
                      1M
                    %li.text-sm.text-gray-900.rounded-lg.cursor-pointer.hover:bg-alpha-black-50.px-5.py-1{"aria-selected" => "false", "data-action" => "click->select#selectOption", "data-select-target" => "option", "data-value" => "last_365_days", tabindex: "-1"}
                      1Y
                    %li.text-sm.text-gray-900.rounded-lg.cursor-pointer.hover:bg-alpha-black-50.px-5.py-1{"aria-selected" => "false", "data-action" => "click->select#selectOption", "data-select-target" => "option", "data-value" => "all", tabindex: "-1"}
                      All
                / END app/views/shared/_period_select.html.erb
          / BEGIN app/views/pages/_account_percentages_bar.html.erb
          .space-y-4
            .flex.gap-1
              .rounded-sm.w-12.bg-violet-500{class: "h-1.5", style: "width: 0.0%;"}
              .rounded-sm.w-12.bg-blue-600{class: "h-1.5", style: "width: 0.0%;"}
              .rounded-sm.w-12.bg-gray-500{class: "h-1.5", style: "width: 0.0%;"}
              .rounded-sm.w-12.bg-green-500{class: "h-1.5", style: "width: 0.0%;"}
              .rounded-sm.w-12.bg-cyan-500{class: "h-1.5", style: "width: 100.0%;"}
              .rounded-sm.w-12.bg-pink-500{class: "h-1.5", style: "width: 0.0%;"}
            .flex.gap-4
              .flex.items-center.gap-2.text-sm
                .rounded-full.bg-violet-500{class: "h-2.5 w-2.5"}
                %p.text-gray-500 Bank Account
                %p.text-black 0.0%
              .flex.items-center.gap-2.text-sm
                .rounded-full.bg-blue-600{class: "h-2.5 w-2.5"}
                %p.text-gray-500 Investment
                %p.text-black 0.0%
              .flex.items-center.gap-2.text-sm
                .rounded-full.bg-gray-500{class: "h-2.5 w-2.5"}
                %p.text-gray-500 Crypto
                %p.text-black 0.0%
              .flex.items-center.gap-2.text-sm
                .rounded-full.bg-green-500{class: "h-2.5 w-2.5"}
                %p.text-gray-500 Other Asset
                %p.text-black 0.0%
              .flex.items-center.gap-2.text-sm
                .rounded-full.bg-cyan-500{class: "h-2.5 w-2.5"}
                %p.text-gray-500 Real Estate
                %p.text-black 100.0%
              .flex.items-center.gap-2.text-sm
                .rounded-full.bg-pink-500{class: "h-2.5 w-2.5"}
                %p.text-gray-500 Vehicle
                %p.text-black 0.0%
          / END app/views/pages/_account_percentages_bar.html.erb
          / BEGIN app/views/pages/_account_percentages_table.html.erb
          .bg-gray-25.p-1.rounded-xl
            .px-4.py-2.flex.items-center.uppercase.text-xs.font-medium.text-gray-500
              %div Name
              .ml-auto.text-right.flex.items-center.gap-10
                .w-24
                  %p % of total
                .w-24
                  %p Value
                .w-40
                  %p Change
            .bg-white.border.border-alpha-black-25.shadow-xs.rounded-lg.divide-y.divide-alpha-black-50
              - @maps.each do |item|
                %details.open:bg-gray-25.group
                  %summary.flex.p-4.items-center.w-full.rounded-lg.font-medium.hover:bg-gray-50.text-gray-500.text-sm.font-medium.cursor-pointer
                    %svg.hidden.group-open:block.w-5.h-5{"aria-hidden" => "true", fill: "none", height: "24", stroke: "currentColor", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "2", viewbox: "0 0 24 24", width: "24"}
                      %path{d: "m6 9 6 6 6-6"}
                    %svg.group-open:hidden.w-5.h-5{"aria-hidden" => "true", fill: "none", height: "24", stroke: "currentColor", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "2", viewbox: "0 0 24 24", width: "24"}
                      %path{d: "m9 18 6-6-6-6"}
                    .ml-4.rounded-full.bg-violet-500{class: "h-2.5 w-2.5"}
                    %p.text-gray-900.ml-2= item[:source_exchange]
                    %span.mx-1 ·
                    %div 0
                    .ml-auto.text-right.flex.items-center.gap-10.text-sm.font-medium.text-gray-900
                      .flex.items-center.justify-end.gap-2.w-24
                        / BEGIN app/views/shared/_progress_circle.html.erb
                        %svg{height: "16", width: "16"}
                          / Background Circle
                          %circle.fill-transparent.stroke-current.text-gray-300{cx: "8", cy: "8", r: "7", "stroke-width" => "2"}
                          / Foreground Circle
                          %circle.fill-transparent.stroke-current.text-violet-500{cx: "8", cy: "8", r: "7", "stroke-dasharray" => "43.982297150257104", "stroke-dashoffset" => "43.9822971502571", "stroke-width" => "2", transform: "rotate(-90, 8, 8)"}
                        / END app/views/shared/_progress_circle.html.erb
                        %p 0.0%
                      .w-24
                        %p $0.00
                      .w-40
                        / BEGIN app/views/shared/_trend_change.html.erb
                        %p.text-sm.text-gray-500
                          %span No change
                        / END app/views/shared/_trend_change.html.erb
                  .px-4.py-3.space-y-4
          / END app/views/pages/_account_percentages_table.html.erb
        .p-4.bg-white.rounded-xl.shadow-xs.border.border-alpha-black-25.space-y-4
          .flex.justify-between.items-center.mb-5
            %h2.text-lg.font-medium.text-gray-900 Liabilities
            .flex.items-center.gap-2
              %a.flex.items-center.gap-1.p-2.pr-3.text-gray-900.text-sm.font-medium.bg-gray-50.rounded-lg.hover:bg-gray-100{"data-turbo-frame" => "modal", href: "/accounts/new"}
                %svg.w-5.h-5.text-gray-500{"aria-hidden" => "true", fill: "none", height: "24", stroke: "currentColor", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "2", viewbox: "0 0 24 24", width: "24"}
                  %path{d: "M5 12h14"}
                  %path{d: "M12 5v14"}
                %p New account
              %form.space-y-4{"accept-charset" => "UTF-8", action: "/accounts/summary", "data-controller" => "auto-submit-form", method: "get"}
                / BEGIN app/views/shared/_period_select.html.erb
                .relative{"data-controller" => "select", "data-select-active-class" => "bg-alpha-black-50", "data-select-selected-value" => "last_30_days"}
                  %button.flex.items-center.gap-1.w-full.border.border-alpha-black-100.shadow-xs.rounded-lg.text-sm.p-2.cursor-pointer.text-gray-900.text-sm{"data-select-target" => "button", type: "button"}
                    %span{"data-select-target" => "buttonText"} 1M
                    %svg.w-5.h-5.text-gray-500{"aria-hidden" => "true", fill: "none", height: "24", stroke: "currentColor", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "2", viewbox: "0 0 24 24", width: "24"}
                      %path{d: "m6 9 6 6 6-6"}
                  %input{"data-auto-submit-form-target" => "auto", "data-select-target" => "input", name: "period", type: "hidden"}/
                  %ul.hidden.absolute.z-10.right-0.border.border-alpha-black-25.bg-white.rounded-lg.shadow-xs{class: "top-[100%]", "data-select-target" => "list"}
                    %li.text-sm.text-gray-900.rounded-lg.cursor-pointer.hover:bg-alpha-black-50.px-5.py-1{"aria-selected" => "false", "data-action" => "click->select#selectOption", "data-select-target" => "option", "data-value" => "last_7_days", tabindex: "-1"}
                      7D
                    %li.text-sm.text-gray-900.rounded-lg.cursor-pointer.hover:bg-alpha-black-50.px-5.py-1.bg-alpha-black-50{"aria-selected" => "true", "data-action" => "click->select#selectOption", "data-select-target" => "option", "data-value" => "last_30_days", tabindex: "-1"}
                      1M
                    %li.text-sm.text-gray-900.rounded-lg.cursor-pointer.hover:bg-alpha-black-50.px-5.py-1{"aria-selected" => "false", "data-action" => "click->select#selectOption", "data-select-target" => "option", "data-value" => "last_365_days", tabindex: "-1"}
                      1Y
                    %li.text-sm.text-gray-900.rounded-lg.cursor-pointer.hover:bg-alpha-black-50.px-5.py-1{"aria-selected" => "false", "data-action" => "click->select#selectOption", "data-select-target" => "option", "data-value" => "all", tabindex: "-1"}
                      All
                / END app/views/shared/_period_select.html.erb
          / BEGIN app/views/pages/_account_percentages_bar.html.erb
          .space-y-4
            .flex.gap-1
              .rounded-sm.w-12.bg-red-500{class: "h-1.5", style: "width: 100%;"}
              .rounded-sm.w-12.bg-fuchsia-500{class: "h-1.5", style: "width: 100%;"}
              .rounded-sm.w-12.bg-gray-500{class: "h-1.5", style: "width: 100%;"}
            .flex.gap-4
              .flex.items-center.gap-2.text-sm
                .rounded-full.bg-red-500{class: "h-2.5 w-2.5"}
                %p.text-gray-500 Credit Card
                %p.text-black 100%
              .flex.items-center.gap-2.text-sm
                .rounded-full.bg-fuchsia-500{class: "h-2.5 w-2.5"}
                %p.text-gray-500 Loan
                %p.text-black 100%
              .flex.items-center.gap-2.text-sm
                .rounded-full.bg-gray-500{class: "h-2.5 w-2.5"}
                %p.text-gray-500 Other Liability
                %p.text-black 100%
          / END app/views/pages/_account_percentages_bar.html.erb
          / BEGIN app/views/pages/_account_percentages_table.html.erb
          .bg-gray-25.p-1.rounded-xl
            .px-4.py-2.flex.items-center.uppercase.text-xs.font-medium.text-gray-500
              %div Name
              .ml-auto.text-right.flex.items-center.gap-10
                .w-24
                  %p % of total
                .w-24
                  %p Value
                .w-40
                  %p Change
            .bg-white.border.border-alpha-black-25.shadow-xs.rounded-lg.divide-y.divide-alpha-black-50
              %details.open:bg-gray-25.group
                %summary.flex.p-4.items-center.w-full.rounded-lg.font-medium.hover:bg-gray-50.text-gray-500.text-sm.font-medium.cursor-pointer
                  %svg.hidden.group-open:block.w-5.h-5{"aria-hidden" => "true", fill: "none", height: "24", stroke: "currentColor", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "2", viewbox: "0 0 24 24", width: "24"}
                    %path{d: "m6 9 6 6 6-6"}
                  %svg.group-open:hidden.w-5.h-5{"aria-hidden" => "true", fill: "none", height: "24", stroke: "currentColor", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "2", viewbox: "0 0 24 24", width: "24"}
                    %path{d: "m9 18 6-6-6-6"}
                  .ml-4.rounded-full.bg-red-500{class: "h-2.5 w-2.5"}
                  %p.text-gray-900.ml-2 Credit Card
                  %span.mx-1 ·
                  %div 0
                  .ml-auto.text-right.flex.items-center.gap-10.text-sm.font-medium.text-gray-900
                    .flex.items-center.justify-end.gap-2.w-24
                      / BEGIN app/views/shared/_progress_circle.html.erb
                      %svg{height: "16", width: "16"}
                        / Background Circle
                        %circle.fill-transparent.stroke-current.text-gray-300{cx: "8", cy: "8", r: "7", "stroke-width" => "2"}
                        / Foreground Circle
                        %circle.fill-transparent.stroke-current.text-red-500{cx: "8", cy: "8", r: "7", "stroke-dasharray" => "43.982297150257104", "stroke-dashoffset" => "0.0", "stroke-width" => "2", transform: "rotate(-90, 8, 8)"}
                      / END app/views/shared/_progress_circle.html.erb
                      %p 100%
                    .w-24
                      %p $0.00
                    .w-40
                      / BEGIN app/views/shared/_trend_change.html.erb
                      %p.text-sm.text-gray-500
                        %span No change
                      / END app/views/shared/_trend_change.html.erb
                .px-4.py-3.space-y-4
              %details.open:bg-gray-25.group
                %summary.flex.p-4.items-center.w-full.rounded-lg.font-medium.hover:bg-gray-50.text-gray-500.text-sm.font-medium.cursor-pointer
                  %svg.hidden.group-open:block.w-5.h-5{"aria-hidden" => "true", fill: "none", height: "24", stroke: "currentColor", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "2", viewbox: "0 0 24 24", width: "24"}
                    %path{d: "m6 9 6 6 6-6"}
                  %svg.group-open:hidden.w-5.h-5{"aria-hidden" => "true", fill: "none", height: "24", stroke: "currentColor", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "2", viewbox: "0 0 24 24", width: "24"}
                    %path{d: "m9 18 6-6-6-6"}
                  .ml-4.rounded-full.bg-fuchsia-500{class: "h-2.5 w-2.5"}
                  %p.text-gray-900.ml-2 Loan
                  %span.mx-1 ·
                  %div 0
                  .ml-auto.text-right.flex.items-center.gap-10.text-sm.font-medium.text-gray-900
                    .flex.items-center.justify-end.gap-2.w-24
                      / BEGIN app/views/shared/_progress_circle.html.erb
                      %svg{height: "16", width: "16"}
                        / Background Circle
                        %circle.fill-transparent.stroke-current.text-gray-300{cx: "8", cy: "8", r: "7", "stroke-width" => "2"}
                        / Foreground Circle
                        %circle.fill-transparent.stroke-current.text-fuchsia-500{cx: "8", cy: "8", r: "7", "stroke-dasharray" => "43.982297150257104", "stroke-dashoffset" => "0.0", "stroke-width" => "2", transform: "rotate(-90, 8, 8)"}
                      / END app/views/shared/_progress_circle.html.erb
                      %p 100%
                    .w-24
                      %p $0.00
                    .w-40
                      / BEGIN app/views/shared/_trend_change.html.erb
                      %p.text-sm.text-gray-500
                        %span No change
                      / END app/views/shared/_trend_change.html.erb
                .px-4.py-3.space-y-4
              %details.open:bg-gray-25.group
                %summary.flex.p-4.items-center.w-full.rounded-lg.font-medium.hover:bg-gray-50.text-gray-500.text-sm.font-medium.cursor-pointer
                  %svg.hidden.group-open:block.w-5.h-5{"aria-hidden" => "true", fill: "none", height: "24", stroke: "currentColor", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "2", viewbox: "0 0 24 24", width: "24"}
                    %path{d: "m6 9 6 6 6-6"}
                  %svg.group-open:hidden.w-5.h-5{"aria-hidden" => "true", fill: "none", height: "24", stroke: "currentColor", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "2", viewbox: "0 0 24 24", width: "24"}
                    %path{d: "m9 18 6-6-6-6"}
                  .ml-4.rounded-full.bg-gray-500{class: "h-2.5 w-2.5"}
                  %p.text-gray-900.ml-2 Other Liability
                  %span.mx-1 ·
                  %div 0
                  .ml-auto.text-right.flex.items-center.gap-10.text-sm.font-medium.text-gray-900
                    .flex.items-center.justify-end.gap-2.w-24
                      / BEGIN app/views/shared/_progress_circle.html.erb
                      %svg{height: "16", width: "16"}
                        / Background Circle
                        %circle.fill-transparent.stroke-current.text-gray-300{cx: "8", cy: "8", r: "7", "stroke-width" => "2"}
                        / Foreground Circle
                        %circle.fill-transparent.stroke-current.text-gray-500{cx: "8", cy: "8", r: "7", "stroke-dasharray" => "43.982297150257104", "stroke-dashoffset" => "0.0", "stroke-width" => "2", transform: "rotate(-90, 8, 8)"}
                      / END app/views/shared/_progress_circle.html.erb
                      %p 100%
                    .w-24
                      %p $0.00
                    .w-40
                      / BEGIN app/views/shared/_trend_change.html.erb
                      %p.text-sm.text-gray-500
                        %span No change
                      / END app/views/shared/_trend_change.html.erb
                .px-4.py-3.space-y-4
          / END app/views/pages/_account_percentages_table.html.erb
      / END app/views/accounts/summary.html.erb
  %turbo-frame#modal
  / BEGIN app/views/shared/_confirm_modal.html.erb
  %dialog#turbo-confirm.w-full.rounded-xl{class: "max-w-[420px]"}
    %form.p-4{method: "dialog"}
      .flex.flex-col.mb-4
        .flex.justify-between.mb-2.gap-4
          %h3#turbo-confirm-title.font-medium.text-md Are you sure?
          %button{value: "cancel"}
            %svg.w-5.h-5.shrink-0.text-gray-500{"aria-hidden" => "true", fill: "none", height: "24", stroke: "currentColor", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "2", viewbox: "0 0 24 24", width: "24"}
              %path{d: "M18 6 6 18"}
              %path{d: "m6 6 12 12"}
        #turbo-confirm-body.text-gray-500.text-sm
          %p You will not be able to undo this decision
      %button#turbo-confirm-accept.w-full.text-red-600.rounded-xl.text-center.border.mb-2{class: "p-[10px]", value: "confirm"} Confirm
      %button.w-full.rounded-xl.text-center.border{class: "p-[10px]", value: "cancel"} Cancel
  / END app/views/shared/_confirm_modal.html.erb
  / BEGIN app/views/shared/_upgrade_notification.html.erb
  / END app/views/shared/_upgrade_notification.html.erb