%body.h-full{"cz-shortcut-listen" => "true"}
  #notification-tray.fixed.z-50.space-y-1.top-6.right-6
  .flex.h-full
    .p-6.pb-20.shrink-0.h-full.overflow-y-auto{class: "w-[368px]"}
      / BEGIN app/views/layouts/_sidebar.html.erb
      .flex.items-center.justify-between
        %a{href: "/"}
          %img{alt: "Maybe", class: "h-[22px]", src: "/assets/logo-2f119cf39fed5b52145871de289c4efc51aac7dd.svg"}/
        #user-menu{"data-controller" => "menu"}
          %button{"data-menu-target" => "button"}
            .text-white.w-9.h-9.bg-gray-400.rounded-full.flex.items-center.justify-center.text-lg.uppercase Y
          .hidden.absolute.z-10.top-10.bg-white.rounded-sm.shadow-xs.border.border-alpha-black-25{class: "w-[240px] left-[255px] top-[72px]", "data-menu-target" => "content"}
            .p-3.flex.items-center.gap-3
              .text-white.shrink-0.w-9.h-9.bg-gray-400.rounded-full.flex.items-center.justify-center.text-lg.uppercase Y
              %div
                %span.text-gray-900.font-medium.text-sm yegor@mail.ru
            .border-t.border-b.border-alpha-black-100.p-1
              %a.flex.gap-2.items-center.hover:bg-gray-50.rounded-lg.px-3.py-2{href: "/settings/profile"}
                %svg.w-5.h-5.text-gray-500.shrink-0{"aria-hidden" => "true", fill: "none", height: "24", stroke: "currentColor", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "2", viewbox: "0 0 24 24", width: "24"}
                  %path{d: "M12.22 2h-.44a2 2 0 0 0-2 2v.18a2 2 0 0 1-1 1.73l-.43.25a2 2 0 0 1-2 0l-.15-.08a2 2 0 0 0-2.73.73l-.22.38a2 2 0 0 0 .73 2.73l.15.1a2 2 0 0 1 1 1.72v.51a2 2 0 0 1-1 1.74l-.15.09a2 2 0 0 0-.73 2.73l.22.38a2 2 0 0 0 2.73.73l.15-.08a2 2 0 0 1 2 0l.43.25a2 2 0 0 1 1 1.73V20a2 2 0 0 0 2 2h.44a2 2 0 0 0 2-2v-.18a2 2 0 0 1 1-1.73l.43-.25a2 2 0 0 1 2 0l.15.08a2 2 0 0 0 2.73-.73l.22-.39a2 2 0 0 0-.73-2.73l-.15-.08a2 2 0 0 1-1-1.74v-.5a2 2 0 0 1 1-1.74l.15-.09a2 2 0 0 0 .73-2.73l-.22-.38a2 2 0 0 0-2.73-.73l-.15.08a2 2 0 0 1-2 0l-.43-.25a2 2 0 0 1-1-1.73V4a2 2 0 0 0-2-2z"}
                  %circle{cx: "12", cy: "12", r: "3"}
                %span.text-gray-900.text-sm Settings
              .flex.justify-between.items-center.gap-2
                .flex.items-center.gap-2.rounded-lg.px-3.py-2
                  %svg.w-5.h-5.text-gray-500.shrink-0{"aria-hidden" => "true", fill: "none", height: "24", stroke: "currentColor", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "2", viewbox: "0 0 24 24", width: "24"}
                    %rect{height: "16", rx: "2", width: "20", x: "2", y: "4"}
                    %path{d: "M10 4v4"}
                    %path{d: "M2 8h20"}
                    %path{d: "M6 4v4"}
                  %div
                    %span.text-gray-900.text-sm Demo mode
                    %span.text-gray-500.text-xs.block Coming soon...
                .relative.inline-block.cursor-not-allowed{title: "Coming soon..."}
                  %label.cursor-not-allowed.block.bg-gray-100.w-9.h-5.rounded-full.after:block.after:absolute.after:bg-white.after:w-4.after:h-4.after:rounded-full.after:transition-transform.after:duration-300.after:ease-in-out.peer-checked:bg-green-600.peer-checked:after:translate-x-4{class: "after:content-[''] after:top-0.5 after:left-0.5"}
            .border-t.border-b.border-alpha-black-100.p-1
              %a.flex.gap-2.items-center.hover:bg-gray-50.rounded-lg.px-3.py-2{href: "/changelog"}
                %svg.w-5.h-5.text-gray-500.shrink-0{"aria-hidden" => "true", fill: "none", height: "24", stroke: "currentColor", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "2", viewbox: "0 0 24 24", width: "24"}
                  %path{d: "M21 8a2 2 0 0 0-1-1.73l-7-4a2 2 0 0 0-2 0l-7 4A2 2 0 0 0 3 8v8a2 2 0 0 0 1 1.73l7 4a2 2 0 0 0 2 0l7-4A2 2 0 0 0 21 16Z"}
                  %path{d: "m3.3 7 8.7 5 8.7-5"}
                  %path{d: "M12 22V12"}
                %span.text-gray-900.text-sm Changelog
              %a.flex.gap-2.items-center.hover:bg-gray-50.rounded-lg.px-3.py-2{href: "/feedback"}
                %svg.w-5.h-5.text-gray-500.shrink-0{"aria-hidden" => "true", fill: "none", height: "24", stroke: "currentColor", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "2", viewbox: "0 0 24 24", width: "24"}
                  %path{d: "m3 11 18-5v12L3 14v-3z"}
                  %path{d: "M11.6 16.8a3 3 0 1 1-5.8-1.6"}
                %span.text-gray-900.text-sm Feedback
              %a.flex.gap-2.items-center.hover:bg-gray-50.rounded-lg.px-3.py-2{href: "https://link.maybe.co/discord"}
                %svg.w-5.h-5.text-gray-500.shrink-0{"aria-hidden" => "true", fill: "none", height: "24", stroke: "currentColor", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "2", viewbox: "0 0 24 24", width: "24"}
                  %path{d: "M21 15a2 2 0 0 1-2 2H7l-4 4V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2z"}
                  %path{d: "M8 10h.01"}
                  %path{d: "M12 10h.01"}
                  %path{d: "M16 10h.01"}
                %span.text-gray-900.text-sm Contact
            .p-1
              %form.button_to{action: "/session", method: "post"}
                %input{autocomplete: "off", name: "_method", type: "hidden", value: "delete"}/
                %button.w-full.text-red-400.flex.gap-1.items-center.hover:bg-gray-50.rounded-lg.px-3.py-2{type: "submit"}
                  %svg.w-5.h-5.shrink-0{"aria-hidden" => "true", fill: "none", height: "24", stroke: "currentColor", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "2", viewbox: "0 0 24 24", width: "24"}
                    %path{d: "M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"}
                    %polyline{points: "16 17 21 12 16 7"}
                    %line{x1: "21", x2: "9", y1: "12", y2: "12"}
                  %span.text-sm Logout
                %input{autocomplete: "off", name: "authenticity_token", type: "hidden", value: "eyBMM5Wy52D6CdvkozcyERu89YynvX_AE3aBYF3A4xo4a11x6cGxhyOx_tNqBkYVJjv82D7p4C1eJn90N3zpDA"}/
      %nav
        %ul.mt-6.space-y-1
          %li
            %a.flex.items-center.gap-2.px-3.py-2.rounded-xl.border.text-sm.font-medium.text-gray-500.bg-white.text-gray-900.shadow-xs.border-alpha-black-50{"aria-current" => "page", href: "/", icon: "layout-grid"}
              %svg.w-5.h-5{"aria-hidden" => "true", fill: "none", height: "24", stroke: "currentColor", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "2", viewbox: "0 0 24 24", width: "24"}>
                %rect{height: "7", rx: "1", width: "7", x: "3", y: "3"}
                %rect{height: "7", rx: "1", width: "7", x: "14", y: "3"}
                %rect{height: "7", rx: "1", width: "7", x: "14", y: "14"}
                %rect{height: "7", rx: "1", width: "7", x: "3", y: "14"}
              Dashboard
          %li
            %a.flex.items-center.gap-2.px-3.py-2.rounded-xl.border.text-sm.font-medium.text-gray-500.hover:bg-gray-100.border-transparent{href: maps_path, icon: "layers"}
              %svg.w-5.h-5{"aria-hidden" => "true", fill: "none", height: "24", stroke: "currentColor", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "2", viewbox: "0 0 24 24", width: "24"}>
                %path{d: "m12.83 2.18a2 2 0 0 0-1.66 0L2.6 6.08a1 1 0 0 0 0 1.83l8.58 3.91a2 2 0 0 0 1.66 0l8.58-3.9a1 1 0 0 0 0-1.83Z"}
                %path{d: "m22 17.65-9.17 4.16a2 2 0 0 1-1.66 0L2 17.65"}
                %path{d: "m22 12.65-9.17 4.16a2 2 0 0 1-1.66 0L2 12.65"}
              Accounts
          %li
            %a.flex.items-center.gap-2.px-3.py-2.rounded-xl.border.text-sm.font-medium.text-gray-500.hover:bg-gray-100.border-transparent{href: "/transactions", icon: "credit-card"}
              %svg.w-5.h-5{"aria-hidden" => "true", fill: "none", height: "24", stroke: "currentColor", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "2", viewbox: "0 0 24 24", width: "24"}>
                %rect{height: "14", rx: "2", width: "20", x: "2", y: "5"}
                %line{x1: "2", x2: "22", y1: "10", y2: "10"}
              Transactions
      .flex.flex-col.mt-6
        .flex.items-center.justify-between.px-3.py-2.mb-2
          .flex.items-center.gap-2.text-xs.uppercase.text-gray-500
            %a.text-xs.uppercase.text-gray-500.font-bold.tracking-wide{href: "/accounts"}
              Portfolio
            %span.font-bold.tracking-wide •
            %form.space-y-4{"accept-charset" => "UTF-8", action: "/accounts/list", "data-controller" => "auto-submit-form", "data-turbo-frame" => "account-list", method: "get"}
              / BEGIN app/views/shared/_period_select.html.erb
              .relative{"data-controller" => "select", "data-select-active-class" => "bg-alpha-black-50", "data-select-selected-value" => "last_30_days"}
                %button.flex.items-center.gap-1.w-full.cursor-pointer.font-bold.tracking-wide{"data-select-target" => "button", type: "button"}
                  %span{"data-select-target" => "buttonText"} 1M
                  %svg.w-5.h-5.text-gray-500{"aria-hidden" => "true", fill: "none", height: "24", stroke: "currentColor", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "2", viewbox: "0 0 24 24", width: "24"}
                    %path{d: "m6 9 6 6 6-6"}
                %input{"data-auto-submit-form-target" => "auto", "data-select-target" => "input", name: "period", type: "hidden"}/
                %ul.hidden.absolute.z-10.right-0.border.border-alpha-black-25.bg-white.rounded-lg.shadow-xs{class: "top-[100%]", "data-select-target" => "list"}
                  %li.text-sm.text-gray-900.rounded-lg.cursor-pointer.hover:bg-alpha-black-50.px-5.py-1{"aria-selected" => "false", "data-action" => "click->select#selectOption", "data-select-target" => "option", "data-value" => "last_7_days", tabindex: "-1"}
                    7D
                  %li.text-sm.text-gray-900.rounded-lg.cursor-pointer.hover:bg-alpha-black-50.px-5.py-1.bg-alpha-black-50{"aria-selected" => "true", "data-action" => "click->select#selectOption", "data-select-target" => "option", "data-value" => "last_30_days", tabindex: "-1"}
                    1M
                  %li.text-sm.text-gray-900.rounded-lg.cursor-pointer.hover:bg-alpha-black-50.px-5.py-1{"aria-selected" => "false", "data-action" => "click->select#selectOption", "data-select-target" => "option", "data-value" => "last_365_days", tabindex: "-1"}
                    1Y
                  %li.text-sm.text-gray-900.rounded-lg.cursor-pointer.hover:bg-alpha-black-50.px-5.py-1{"aria-selected" => "false", "data-action" => "click->select#selectOption", "data-select-target" => "option", "data-value" => "all", tabindex: "-1"}
                    All
              / END app/views/shared/_period_select.html.erb
          %a.block.hover:bg-gray-100.p-2.text-sm.font-semibold.text-gray-900.flex.items-center.rounded{"data-turbo-frame" => "modal", href: new_map_path, title: "New account"}
            %svg.w-5.h-5.text-gray-500{"aria-hidden" => "true", fill: "none", height: "24", stroke: "currentColor", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "2", viewbox: "0 0 24 24", width: "24"}
              %path{d: "M5 12h14"}
              %path{d: "M12 5v14"}
        %turbo-frame#account-list{target: "_top"}
          / BEGIN app/views/accounts/_account_list.html.erb
          %details.mb-1.text-sm.group{"data-account-collapse-type-value" => "Account::Depository", "data-controller" => "account-collapse"}
            %summary.flex.gap-4.px-3.py-2.items-center.w-full.font-medium.hover:bg-gray-100{class: "rounded-[10px]"}
              %svg.hidden.group-open:block.text-gray-500.w-5.h-5{"aria-hidden" => "true", fill: "none", height: "24", stroke: "currentColor", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "2", viewbox: "0 0 24 24", width: "24"}
                %path{d: "m6 9 6 6 6-6"}
              %svg.group-open:hidden.text-gray-500.w-5.h-5{"aria-hidden" => "true", fill: "none", height: "24", stroke: "currentColor", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "2", viewbox: "0 0 24 24", width: "24"}
                %path{d: "m9 18 6-6-6-6"}
              .text-left Bank Account
              .ml-auto.flex.flex-col.items-end
                %p.text-right $0.00
                .flex.items-center.gap-1
                  #Account::Depository_sparkline.h-3.w-8.ml-auto{"data-controller" => "time-series-chart", "data-time-series-chart-data-value" => "{\"values\":[],\"trend\":{\"favorable_direction\":\"up\",\"direction\":\"flat\",\"value\":0,\"percent\":0.0},\"favorable_direction\":\"up\"}", "data-time-series-chart-stroke-width-value" => "1", "data-time-series-chart-use-labels-value" => "false", "data-time-series-chart-use-tooltip-value" => "false"}
                    %svg{height: "12", viewbox: "0,0,32,12", width: "32"}
                      %line{stroke: "#D6D6D6", "stroke-dasharray" => "4, 4", x1: "16", x2: "16", y1: "0", y2: "12"}
                      %circle{cx: "16", cy: "6", r: "4", style: "fill: rgb(163, 163, 163);"}
                  %span.text-xs.text-gray-500 +0.00%
            %a.flex.items-center.min-h-10.gap-4.px-3.py-2.mb-1.text-gray-500.text-sm.font-medium.hover:bg-gray-100{class: "rounded-[10px]", "data-turbo-frame" => "modal", href: "/accounts/new?step=method&type=Depository"}
              %svg.w-5.h-5{"aria-hidden" => "true", fill: "none", height: "24", stroke: "currentColor", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "2", viewbox: "0 0 24 24", width: "24"}
                %path{d: "M5 12h14"}
                %path{d: "M12 5v14"}
              %p New bank account
          / END app/views/accounts/_account_list.html.erb
          / BEGIN app/views/accounts/_account_list.html.erb
          %details.mb-1.text-sm.group{"data-account-collapse-type-value" => "Account::Investment", "data-controller" => "account-collapse", open: ""}
            %summary.flex.gap-4.px-3.py-2.items-center.w-full.font-medium.hover:bg-gray-100{class: "rounded-[10px]"}
              %svg.hidden.group-open:block.text-gray-500.w-5.h-5{"aria-hidden" => "true", fill: "none", height: "24", stroke: "currentColor", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "2", viewbox: "0 0 24 24", width: "24"}
                %path{d: "m6 9 6 6 6-6"}
              %svg.group-open:hidden.text-gray-500.w-5.h-5{"aria-hidden" => "true", fill: "none", height: "24", stroke: "currentColor", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "2", viewbox: "0 0 24 24", width: "24"}
                %path{d: "m9 18 6-6-6-6"}
              .text-left Investment
              .ml-auto.flex.flex-col.items-end
                %p.text-right $0.00
                .flex.items-center.gap-1
                  #Account::Investment_sparkline.h-3.w-8.ml-auto{"data-controller" => "time-series-chart", "data-time-series-chart-data-value" => "{\"values\":[],\"trend\":{\"favorable_direction\":\"up\",\"direction\":\"flat\",\"value\":0,\"percent\":0.0},\"favorable_direction\":\"up\"}", "data-time-series-chart-stroke-width-value" => "1", "data-time-series-chart-use-labels-value" => "false", "data-time-series-chart-use-tooltip-value" => "false"}
                    %svg{height: "12", viewbox: "0,0,32,12", width: "32"}
                      %line{stroke: "#D6D6D6", "stroke-dasharray" => "4, 4", x1: "16", x2: "16", y1: "0", y2: "12"}
                      %circle{cx: "16", cy: "6", r: "4", style: "fill: rgb(163, 163, 163);"}
                  %span.text-xs.text-gray-500 +0.00%
            %a.flex.items-center.min-h-10.gap-4.px-3.py-2.mb-1.text-gray-500.text-sm.font-medium.hover:bg-gray-100{class: "rounded-[10px]", "data-turbo-frame" => "modal", href: "/accounts/new?step=method&type=Investment"}
              %svg.w-5.h-5{"aria-hidden" => "true", fill: "none", height: "24", stroke: "currentColor", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "2", viewbox: "0 0 24 24", width: "24"}
                %path{d: "M5 12h14"}
                %path{d: "M12 5v14"}
              %p New investment
          / END app/views/accounts/_account_list.html.erb
          / BEGIN app/views/accounts/_account_list.html.erb
          %details.mb-1.text-sm.group{"data-account-collapse-type-value" => "Account::Crypto", "data-controller" => "account-collapse", open: ""}
            %summary.flex.gap-4.px-3.py-2.items-center.w-full.font-medium.hover:bg-gray-100{class: "rounded-[10px]"}
              %svg.hidden.group-open:block.text-gray-500.w-5.h-5{"aria-hidden" => "true", fill: "none", height: "24", stroke: "currentColor", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "2", viewbox: "0 0 24 24", width: "24"}
                %path{d: "m6 9 6 6 6-6"}
              %svg.group-open:hidden.text-gray-500.w-5.h-5{"aria-hidden" => "true", fill: "none", height: "24", stroke: "currentColor", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "2", viewbox: "0 0 24 24", width: "24"}
                %path{d: "m9 18 6-6-6-6"}
              .text-left Crypto
              .ml-auto.flex.flex-col.items-end
                %p.text-right $0.00
                .flex.items-center.gap-1
                  #Account::Crypto_sparkline.h-3.w-8.ml-auto{"data-controller" => "time-series-chart", "data-time-series-chart-data-value" => "{\"values\":[],\"trend\":{\"favorable_direction\":\"up\",\"direction\":\"flat\",\"value\":0,\"percent\":0.0},\"favorable_direction\":\"up\"}", "data-time-series-chart-stroke-width-value" => "1", "data-time-series-chart-use-labels-value" => "false", "data-time-series-chart-use-tooltip-value" => "false"}
                    %svg{height: "12", viewbox: "0,0,32,12", width: "32"}
                      %line{stroke: "#D6D6D6", "stroke-dasharray" => "4, 4", x1: "16", x2: "16", y1: "0", y2: "12"}
                      %circle{cx: "16", cy: "6", r: "4", style: "fill: rgb(163, 163, 163);"}
                  %span.text-xs.text-gray-500 +0.00%
            %a.flex.items-center.min-h-10.gap-4.px-3.py-2.mb-1.text-gray-500.text-sm.font-medium.hover:bg-gray-100{class: "rounded-[10px]", "data-turbo-frame" => "modal", href: "/accounts/new?step=method&type=Crypto"}
              %svg.w-5.h-5{"aria-hidden" => "true", fill: "none", height: "24", stroke: "currentColor", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "2", viewbox: "0 0 24 24", width: "24"}
                %path{d: "M5 12h14"}
                %path{d: "M12 5v14"}
              %p New crypto
          / END app/views/accounts/_account_list.html.erb
          / BEGIN app/views/accounts/_account_list.html.erb
          %details.mb-1.text-sm.group{"data-account-collapse-type-value" => "Account::OtherAsset", "data-controller" => "account-collapse"}
            %summary.flex.gap-4.px-3.py-2.items-center.w-full.font-medium.hover:bg-gray-100{class: "rounded-[10px]"}
              %svg.hidden.group-open:block.text-gray-500.w-5.h-5{"aria-hidden" => "true", fill: "none", height: "24", stroke: "currentColor", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "2", viewbox: "0 0 24 24", width: "24"}
                %path{d: "m6 9 6 6 6-6"}
              %svg.group-open:hidden.text-gray-500.w-5.h-5{"aria-hidden" => "true", fill: "none", height: "24", stroke: "currentColor", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "2", viewbox: "0 0 24 24", width: "24"}
                %path{d: "m9 18 6-6-6-6"}
              .text-left Other Asset
              .ml-auto.flex.flex-col.items-end
                %p.text-right $0.00
                .flex.items-center.gap-1
                  #Account::OtherAsset_sparkline.h-3.w-8.ml-auto{"data-controller" => "time-series-chart", "data-time-series-chart-data-value" => "{\"values\":[],\"trend\":{\"favorable_direction\":\"up\",\"direction\":\"flat\",\"value\":0,\"percent\":0.0},\"favorable_direction\":\"up\"}", "data-time-series-chart-stroke-width-value" => "1", "data-time-series-chart-use-labels-value" => "false", "data-time-series-chart-use-tooltip-value" => "false"}
                    %svg{height: "12", viewbox: "0,0,32,12", width: "32"}
                      %line{stroke: "#D6D6D6", "stroke-dasharray" => "4, 4", x1: "16", x2: "16", y1: "0", y2: "12"}
                      %circle{cx: "16", cy: "6", r: "4", style: "fill: rgb(163, 163, 163);"}
                  %span.text-xs.text-gray-500 +0.00%
            %a.flex.items-center.min-h-10.gap-4.px-3.py-2.mb-1.text-gray-500.text-sm.font-medium.hover:bg-gray-100{class: "rounded-[10px]", "data-turbo-frame" => "modal", href: "/accounts/new?step=method&type=OtherAsset"}
              %svg.w-5.h-5{"aria-hidden" => "true", fill: "none", height: "24", stroke: "currentColor", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "2", viewbox: "0 0 24 24", width: "24"}
                %path{d: "M5 12h14"}
                %path{d: "M12 5v14"}
              %p New other asset
          / END app/views/accounts/_account_list.html.erb
          / BEGIN app/views/accounts/_account_list.html.erb
          %details.mb-1.text-sm.group{"data-account-collapse-type-value" => "Account::Property", "data-controller" => "account-collapse"}
            %summary.flex.gap-4.px-3.py-2.items-center.w-full.font-medium.hover:bg-gray-100{class: "rounded-[10px]"}
              %svg.hidden.group-open:block.text-gray-500.w-5.h-5{"aria-hidden" => "true", fill: "none", height: "24", stroke: "currentColor", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "2", viewbox: "0 0 24 24", width: "24"}
                %path{d: "m6 9 6 6 6-6"}
              %svg.group-open:hidden.text-gray-500.w-5.h-5{"aria-hidden" => "true", fill: "none", height: "24", stroke: "currentColor", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "2", viewbox: "0 0 24 24", width: "24"}
                %path{d: "m9 18 6-6-6-6"}
              .text-left Real Estate
              .ml-auto.flex.flex-col.items-end
                %p.text-right $2,000.00
                .flex.items-center.gap-1
                  #Account::Property_sparkline.h-3.w-8.ml-auto{"data-controller" => "time-series-chart", "data-time-series-chart-data-value" => "{\"values\":[{\"date\":\"2024-05-20\",\"value\":{\"amount\":\"2000.0\",\"currency\":\"USD\"},\"trend\":{\"favorable_direction\":\"up\",\"direction\":\"flat\",\"value\":{\"amount\":\"0.0\",\"currency\":\"USD\"},\"percent\":0.0}}],\"trend\":{\"favorable_direction\":\"up\",\"direction\":\"flat\",\"value\":{\"amount\":\"0.0\",\"currency\":\"USD\"},\"percent\":0.0},\"favorable_direction\":\"up\"}", "data-time-series-chart-stroke-width-value" => "1", "data-time-series-chart-use-labels-value" => "false", "data-time-series-chart-use-tooltip-value" => "false"}
                    %svg{height: "12", viewbox: "0,0,32,12", width: "32"}
                      %line{stroke: "#D6D6D6", "stroke-dasharray" => "4, 4", x1: "16", x2: "16", y1: "0", y2: "12"}
                      %circle{cx: "16", cy: "6", r: "4", style: "fill: rgb(163, 163, 163);"}
                  %span.text-xs.text-gray-500 +0.00%
            %a.flex.items-center.w-full.gap-3.px-3.py-2.mb-1.hover:bg-gray-100{class: "rounded-[10px]", href: "/accounts/ab1b486d-ae26-49f6-b550-bbb0c9684877"}
              %img.w-6.h-6{src: "http://[::1]:3000/accounts/ab1b486d-ae26-49f6-b550-bbb0c9684877/logo"}/
              %div
                %p.font-medium Main
              .flex.flex-col.ml-auto.font-medium.text-right
                %p $2,000.00
                .flex.items-center.gap-1
                  #list_sparkline_account_ab1b486d-ae26-49f6-b550-bbb0c9684877.h-3.w-8.ml-auto{"data-controller" => "time-series-chart", "data-time-series-chart-data-value" => "{\"values\":[{\"date\":\"2024-05-20\",\"value\":{\"amount\":\"2000.0\",\"currency\":\"USD\"},\"trend\":{\"favorable_direction\":\"up\",\"direction\":\"flat\",\"value\":{\"amount\":\"0.0\",\"currency\":\"USD\"},\"percent\":0.0}}],\"trend\":{\"favorable_direction\":\"up\",\"direction\":\"flat\",\"value\":{\"amount\":\"0.0\",\"currency\":\"USD\"},\"percent\":0.0},\"favorable_direction\":\"up\"}", "data-time-series-chart-stroke-width-value" => "1", "data-time-series-chart-use-labels-value" => "false", "data-time-series-chart-use-tooltip-value" => "false"}
                    %svg{height: "12", viewbox: "0,0,32,12", width: "32"}
                      %line{stroke: "#D6D6D6", "stroke-dasharray" => "4, 4", x1: "16", x2: "16", y1: "0", y2: "12"}
                      %circle{cx: "16", cy: "6", r: "4", style: "fill: rgb(163, 163, 163);"}
                  %span.text-xs.text-gray-500 +0.00%
            %a.flex.items-center.min-h-10.gap-4.px-3.py-2.mb-1.text-gray-500.text-sm.font-medium.hover:bg-gray-100{class: "rounded-[10px]", "data-turbo-frame" => "modal", href: "/accounts/new?step=method&type=Property"}
              %svg.w-5.h-5{"aria-hidden" => "true", fill: "none", height: "24", stroke: "currentColor", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "2", viewbox: "0 0 24 24", width: "24"}
                %path{d: "M5 12h14"}
                %path{d: "M12 5v14"}
              %p New real estate
          / END app/views/accounts/_account_list.html.erb
          / BEGIN app/views/accounts/_account_list.html.erb
          %details.mb-1.text-sm.group{"data-account-collapse-type-value" => "Account::Vehicle", "data-controller" => "account-collapse"}
            %summary.flex.gap-4.px-3.py-2.items-center.w-full.font-medium.hover:bg-gray-100{class: "rounded-[10px]"}
              %svg.hidden.group-open:block.text-gray-500.w-5.h-5{"aria-hidden" => "true", fill: "none", height: "24", stroke: "currentColor", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "2", viewbox: "0 0 24 24", width: "24"}
                %path{d: "m6 9 6 6 6-6"}
              %svg.group-open:hidden.text-gray-500.w-5.h-5{"aria-hidden" => "true", fill: "none", height: "24", stroke: "currentColor", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "2", viewbox: "0 0 24 24", width: "24"}
                %path{d: "m9 18 6-6-6-6"}
              .text-left Vehicle
              .ml-auto.flex.flex-col.items-end
                %p.text-right $30,000.00
                .flex.items-center.gap-1
                  #Account::Vehicle_sparkline.h-3.w-8.ml-auto{"data-controller" => "time-series-chart", "data-time-series-chart-data-value" => "{\"values\":[{\"date\":\"2024-05-20\",\"value\":{\"amount\":\"30000.0\",\"currency\":\"USD\"},\"trend\":{\"favorable_direction\":\"up\",\"direction\":\"flat\",\"value\":{\"amount\":\"0.0\",\"currency\":\"USD\"},\"percent\":0.0}}],\"trend\":{\"favorable_direction\":\"up\",\"direction\":\"flat\",\"value\":{\"amount\":\"0.0\",\"currency\":\"USD\"},\"percent\":0.0},\"favorable_direction\":\"up\"}", "data-time-series-chart-stroke-width-value" => "1", "data-time-series-chart-use-labels-value" => "false", "data-time-series-chart-use-tooltip-value" => "false"}
                    %svg{height: "12", viewbox: "0,0,32,12", width: "32"}
                      %line{stroke: "#D6D6D6", "stroke-dasharray" => "4, 4", x1: "16", x2: "16", y1: "0", y2: "12"}
                      %circle{cx: "16", cy: "6", r: "4", style: "fill: rgb(163, 163, 163);"}
                  %span.text-xs.text-gray-500 +0.00%
            %a.flex.items-center.w-full.gap-3.px-3.py-2.mb-1.hover:bg-gray-100{class: "rounded-[10px]", href: "/accounts/9437e909-790e-4840-911b-4c734c95a547"}
              %img.w-6.h-6{src: "http://[::1]:3000/accounts/9437e909-790e-4840-911b-4c734c95a547/logo"}/
              %div
                %p.font-medium Person
              .flex.flex-col.ml-auto.font-medium.text-right
                %p $30,000.00
                .flex.items-center.gap-1
                  #list_sparkline_account_9437e909-790e-4840-911b-4c734c95a547.h-3.w-8.ml-auto{"data-controller" => "time-series-chart", "data-time-series-chart-data-value" => "{\"values\":[{\"date\":\"2024-05-20\",\"value\":{\"amount\":\"30000.0\",\"currency\":\"USD\"},\"trend\":{\"favorable_direction\":\"up\",\"direction\":\"flat\",\"value\":{\"amount\":\"0.0\",\"currency\":\"USD\"},\"percent\":0.0}}],\"trend\":{\"favorable_direction\":\"up\",\"direction\":\"flat\",\"value\":{\"amount\":\"0.0\",\"currency\":\"USD\"},\"percent\":0.0},\"favorable_direction\":\"up\"}", "data-time-series-chart-stroke-width-value" => "1", "data-time-series-chart-use-labels-value" => "false", "data-time-series-chart-use-tooltip-value" => "false"}
                    %svg{height: "12", viewbox: "0,0,32,12", width: "32"}
                      %line{stroke: "#D6D6D6", "stroke-dasharray" => "4, 4", x1: "16", x2: "16", y1: "0", y2: "12"}
                      %circle{cx: "16", cy: "6", r: "4", style: "fill: rgb(163, 163, 163);"}
                  %span.text-xs.text-gray-500 +0.00%
            %a.flex.items-center.min-h-10.gap-4.px-3.py-2.mb-1.text-gray-500.text-sm.font-medium.hover:bg-gray-100{class: "rounded-[10px]", "data-turbo-frame" => "modal", href: "/accounts/new?step=method&type=Vehicle"}
              %svg.w-5.h-5{"aria-hidden" => "true", fill: "none", height: "24", stroke: "currentColor", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "2", viewbox: "0 0 24 24", width: "24"}
                %path{d: "M5 12h14"}
                %path{d: "M12 5v14"}
              %p New vehicle
          / END app/views/accounts/_account_list.html.erb
          / BEGIN app/views/accounts/_account_list.html.erb
          %details.mb-1.text-sm.group{"data-account-collapse-type-value" => "Account::Credit", "data-controller" => "account-collapse"}
            %summary.flex.gap-4.px-3.py-2.items-center.w-full.font-medium.hover:bg-gray-100{class: "rounded-[10px]"}
              %svg.hidden.group-open:block.text-gray-500.w-5.h-5{"aria-hidden" => "true", fill: "none", height: "24", stroke: "currentColor", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "2", viewbox: "0 0 24 24", width: "24"}
                %path{d: "m6 9 6 6 6-6"}
              %svg.group-open:hidden.text-gray-500.w-5.h-5{"aria-hidden" => "true", fill: "none", height: "24", stroke: "currentColor", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "2", viewbox: "0 0 24 24", width: "24"}
                %path{d: "m9 18 6-6-6-6"}
              .text-left Credit Card
              .ml-auto.flex.flex-col.items-end
                %p.text-right $20,000.00
                .flex.items-center.gap-1
                  #Account::Credit_sparkline.h-3.w-8.ml-auto{"data-controller" => "time-series-chart", "data-time-series-chart-data-value" => "{\"values\":[{\"date\":\"2024-05-20\",\"value\":{\"amount\":\"20000.0\",\"currency\":\"USD\"},\"trend\":{\"favorable_direction\":\"up\",\"direction\":\"flat\",\"value\":{\"amount\":\"0.0\",\"currency\":\"USD\"},\"percent\":0.0}}],\"trend\":{\"favorable_direction\":\"up\",\"direction\":\"flat\",\"value\":{\"amount\":\"0.0\",\"currency\":\"USD\"},\"percent\":0.0},\"favorable_direction\":\"up\"}", "data-time-series-chart-stroke-width-value" => "1", "data-time-series-chart-use-labels-value" => "false", "data-time-series-chart-use-tooltip-value" => "false"}
                    %svg{height: "12", viewbox: "0,0,32,12", width: "32"}
                      %line{stroke: "#D6D6D6", "stroke-dasharray" => "4, 4", x1: "16", x2: "16", y1: "0", y2: "12"}
                      %circle{cx: "16", cy: "6", r: "4", style: "fill: rgb(163, 163, 163);"}
                  %span.text-xs.text-gray-500 +0.00%
            %a.flex.items-center.w-full.gap-3.px-3.py-2.mb-1.hover:bg-gray-100{class: "rounded-[10px]", href: "/accounts/cbfc8bf2-7e24-4e1f-bf0b-406a0244e1bd"}
              %img.w-6.h-6{src: "http://[::1]:3000/accounts/cbfc8bf2-7e24-4e1f-bf0b-406a0244e1bd/logo"}/
              %div
                %p.font-medium Credit
              .flex.flex-col.ml-auto.font-medium.text-right
                %p $20,000.00
                .flex.items-center.gap-1
                  #list_sparkline_account_cbfc8bf2-7e24-4e1f-bf0b-406a0244e1bd.h-3.w-8.ml-auto{"data-controller" => "time-series-chart", "data-time-series-chart-data-value" => "{\"values\":[{\"date\":\"2024-05-20\",\"value\":{\"amount\":\"20000.0\",\"currency\":\"USD\"},\"trend\":{\"favorable_direction\":\"up\",\"direction\":\"flat\",\"value\":{\"amount\":\"0.0\",\"currency\":\"USD\"},\"percent\":0.0}}],\"trend\":{\"favorable_direction\":\"up\",\"direction\":\"flat\",\"value\":{\"amount\":\"0.0\",\"currency\":\"USD\"},\"percent\":0.0},\"favorable_direction\":\"up\"}", "data-time-series-chart-stroke-width-value" => "1", "data-time-series-chart-use-labels-value" => "false", "data-time-series-chart-use-tooltip-value" => "false"}
                    %svg{height: "12", viewbox: "0,0,32,12", width: "32"}
                      %line{stroke: "#D6D6D6", "stroke-dasharray" => "4, 4", x1: "16", x2: "16", y1: "0", y2: "12"}
                      %circle{cx: "16", cy: "6", r: "4", style: "fill: rgb(163, 163, 163);"}
                  %span.text-xs.text-gray-500 +0.00%
            %a.flex.items-center.min-h-10.gap-4.px-3.py-2.mb-1.text-gray-500.text-sm.font-medium.hover:bg-gray-100{class: "rounded-[10px]", "data-turbo-frame" => "modal", href: "/accounts/new?step=method&type=Credit"}
              %svg.w-5.h-5{"aria-hidden" => "true", fill: "none", height: "24", stroke: "currentColor", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "2", viewbox: "0 0 24 24", width: "24"}
                %path{d: "M5 12h14"}
                %path{d: "M12 5v14"}
              %p New credit card
          / END app/views/accounts/_account_list.html.erb
          / BEGIN app/views/accounts/_account_list.html.erb
          %details.mb-1.text-sm.group{"data-account-collapse-type-value" => "Account::Loan", "data-controller" => "account-collapse"}
            %summary.flex.gap-4.px-3.py-2.items-center.w-full.font-medium.hover:bg-gray-100{class: "rounded-[10px]"}
              %svg.hidden.group-open:block.text-gray-500.w-5.h-5{"aria-hidden" => "true", fill: "none", height: "24", stroke: "currentColor", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "2", viewbox: "0 0 24 24", width: "24"}
                %path{d: "m6 9 6 6 6-6"}
              %svg.group-open:hidden.text-gray-500.w-5.h-5{"aria-hidden" => "true", fill: "none", height: "24", stroke: "currentColor", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "2", viewbox: "0 0 24 24", width: "24"}
                %path{d: "m9 18 6-6-6-6"}
              .text-left Loan
              .ml-auto.flex.flex-col.items-end
                %p.text-right $0.00
                .flex.items-center.gap-1
                  #Account::Loan_sparkline.h-3.w-8.ml-auto{"data-controller" => "time-series-chart", "data-time-series-chart-data-value" => "{\"values\":[],\"trend\":{\"favorable_direction\":\"up\",\"direction\":\"flat\",\"value\":0,\"percent\":0.0},\"favorable_direction\":\"up\"}", "data-time-series-chart-stroke-width-value" => "1", "data-time-series-chart-use-labels-value" => "false", "data-time-series-chart-use-tooltip-value" => "false"}
                    %svg{height: "12", viewbox: "0,0,32,12", width: "32"}
                      %line{stroke: "#D6D6D6", "stroke-dasharray" => "4, 4", x1: "16", x2: "16", y1: "0", y2: "12"}
                      %circle{cx: "16", cy: "6", r: "4", style: "fill: rgb(163, 163, 163);"}
                  %span.text-xs.text-gray-500 +0.00%
            %a.flex.items-center.min-h-10.gap-4.px-3.py-2.mb-1.text-gray-500.text-sm.font-medium.hover:bg-gray-100{class: "rounded-[10px]", "data-turbo-frame" => "modal", href: "/accounts/new?step=method&type=Loan"}
              %svg.w-5.h-5{"aria-hidden" => "true", fill: "none", height: "24", stroke: "currentColor", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "2", viewbox: "0 0 24 24", width: "24"}
                %path{d: "M5 12h14"}
                %path{d: "M12 5v14"}
              %p New loan
          / END app/views/accounts/_account_list.html.erb
          / BEGIN app/views/accounts/_account_list.html.erb
          %details.mb-1.text-sm.group{"data-account-collapse-type-value" => "Account::OtherLiability", "data-controller" => "account-collapse"}
            %summary.flex.gap-4.px-3.py-2.items-center.w-full.font-medium.hover:bg-gray-100{class: "rounded-[10px]"}
              %svg.hidden.group-open:block.text-gray-500.w-5.h-5{"aria-hidden" => "true", fill: "none", height: "24", stroke: "currentColor", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "2", viewbox: "0 0 24 24", width: "24"}
                %path{d: "m6 9 6 6 6-6"}
              %svg.group-open:hidden.text-gray-500.w-5.h-5{"aria-hidden" => "true", fill: "none", height: "24", stroke: "currentColor", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "2", viewbox: "0 0 24 24", width: "24"}
                %path{d: "m9 18 6-6-6-6"}
              .text-left Other Liability
              .ml-auto.flex.flex-col.items-end
                %p.text-right $0.00
                .flex.items-center.gap-1
                  #Account::OtherLiability_sparkline.h-3.w-8.ml-auto{"data-controller" => "time-series-chart", "data-time-series-chart-data-value" => "{\"values\":[],\"trend\":{\"favorable_direction\":\"up\",\"direction\":\"flat\",\"value\":0,\"percent\":0.0},\"favorable_direction\":\"up\"}", "data-time-series-chart-stroke-width-value" => "1", "data-time-series-chart-use-labels-value" => "false", "data-time-series-chart-use-tooltip-value" => "false"}
                    %svg{height: "12", viewbox: "0,0,32,12", width: "32"}
                      %line{stroke: "#D6D6D6", "stroke-dasharray" => "4, 4", x1: "16", x2: "16", y1: "0", y2: "12"}
                      %circle{cx: "16", cy: "6", r: "4", style: "fill: rgb(163, 163, 163);"}
                  %span.text-xs.text-gray-500 +0.00%
            %a.flex.items-center.min-h-10.gap-4.px-3.py-2.mb-1.text-gray-500.text-sm.font-medium.hover:bg-gray-100{class: "rounded-[10px]", "data-turbo-frame" => "modal", href: "/accounts/new?step=method&type=OtherLiability"}
              %svg.w-5.h-5{"aria-hidden" => "true", fill: "none", height: "24", stroke: "currentColor", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "2", viewbox: "0 0 24 24", width: "24"}
                %path{d: "M5 12h14"}
                %path{d: "M12 5v14"}
              %p New other liability
          / END app/views/accounts/_account_list.html.erb
      / END app/views/layouts/_sidebar.html.erb
    %main.grow.px-20.pt-6.pb-32.h-full.overflow-y-auto
      / BEGIN app/views/pages/dashboard.html.erb
      .space-y-4
        %header.flex.items-center.justify-between
          %div
            %h1.sr-only Dashboard
            %p.text-xl.font-medium.text-gray-900.mb-1 Welcome back,
            %p.text-gray-500.text-sm Here's what's happening today
          %a.flex.text-white.text-sm.font-medium.items-center.gap-1.bg-gray-900.rounded-lg.p-2.pr-3{"data-turbo-frame" => "modal", href: new_map_path}
            %svg.w-5.h-5{"aria-hidden" => "true", fill: "none", height: "24", stroke: "currentColor", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "2", viewbox: "0 0 24 24", width: "24"}
              %path{d: "M5 12h14"}
              %path{d: "M12 5v14"}
            %span New account
        %section.flex.gap-4
          .bg-white.border.border-alpha-black-25.shadow-xs.rounded-xl.min-h-48.flex.flex-col{class: "w-3/4"}
            .flex.justify-between.p-4
              %div
                / BEGIN app/views/shared/_value_heading.html.erb
                .space-y-2
                  %p.text-sm.text-gray-500.font-medium Net Worth
                  %p.text-gray-900{class: "-space-x-0.5"}
                    %span.text-gray-500 $
                    %span.text-xl.font-medium 12,000
                    %span.text-gray-500
                      \.00
                  %p.text-sm.text-gray-500 No change vs. prior period
                / END app/views/shared/_value_heading.html.erb
              %form.space-y-4{"accept-charset" => "UTF-8", action: "/", "data-controller" => "auto-submit-form", method: "get"}
                / BEGIN app/views/shared/_period_select.html.erb
                .relative{"data-controller" => "select", "data-select-active-class" => "bg-alpha-black-50", "data-select-selected-value" => "last_30_days"}
                  %button.flex.items-center.gap-1.w-full.border.border-alpha-black-100.shadow-xs.rounded-lg.text-sm.p-2.cursor-pointer.text-gray-900.text-sm{"data-select-target" => "button", type: "button"}
                    %span{"data-select-target" => "buttonText"} 1M
                    %svg.w-5.h-5.text-gray-500{"aria-hidden" => "true", fill: "none", height: "24", stroke: "currentColor", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "2", viewbox: "0 0 24 24", width: "24"}
                      %path{d: "m6 9 6 6 6-6"}
                  %input{"data-auto-submit-form-target" => "auto", "data-select-target" => "input", name: "period", type: "hidden"}/
                  %ul.hidden.absolute.z-10.right-0.border.border-alpha-black-25.bg-white.rounded-lg.shadow-xs{class: "top-[100%]", "data-select-target" => "list"}
                    %li.text-sm.text-gray-900.rounded-lg.cursor-pointer.hover:bg-alpha-black-50.px-5.py-1{"aria-selected" => "false", "data-action" => "click->select#selectOption", "data-select-target" => "option", "data-value" => "last_7_days", tabindex: "-1"}
                      7D
                    %li.text-sm.text-gray-900.rounded-lg.cursor-pointer.hover:bg-alpha-black-50.px-5.py-1.bg-alpha-black-50{"aria-selected" => "true", "data-action" => "click->select#selectOption", "data-select-target" => "option", "data-value" => "last_30_days", tabindex: "-1"}
                      1M
                    %li.text-sm.text-gray-900.rounded-lg.cursor-pointer.hover:bg-alpha-black-50.px-5.py-1{"aria-selected" => "false", "data-action" => "click->select#selectOption", "data-select-target" => "option", "data-value" => "last_365_days", tabindex: "-1"}
                      1Y
                    %li.text-sm.text-gray-900.rounded-lg.cursor-pointer.hover:bg-alpha-black-50.px-5.py-1{"aria-selected" => "false", "data-action" => "click->select#selectOption", "data-select-target" => "option", "data-value" => "all", tabindex: "-1"}
                      All
                / END app/views/shared/_period_select.html.erb
            / BEGIN app/views/pages/dashboard/_net_worth_chart.html.erb
            #netWorthChart.w-full.flex-1.min-h-52{"data-controller" => "time-series-chart", "data-time-series-chart-data-value" => "{\"values\":[],\"trend\":{\"favorable_direction\":\"up\",\"direction\":\"flat\",\"value\":0,\"percent\":0.0},\"favorable_direction\":\"up\"}"}
              %svg{height: "208", viewbox: "0,0,549,208", width: "549"}
                %line{stroke: "#D6D6D6", "stroke-dasharray" => "4, 4", x1: "274.5", x2: "274.5", y1: "0", y2: "208"}
                %circle{cx: "274.5", cy: "104", r: "4", style: "fill: rgb(163, 163, 163);"}
            / END app/views/pages/dashboard/_net_worth_chart.html.erb
          .bg-white.p-4.border.border-alpha-black-25.shadow-xs.rounded-xl{class: "w-1/4"}
            / BEGIN app/views/pages/dashboard/_allocation_chart.html.erb
            %div{"data-controller" => "tabs", "data-tabs-active-class" => "bg-white border-alpha-black-25 shadow-xs text-gray-900", "data-tabs-default-tab-value" => "asset-tab"}
              .bg-gray-25.rounded-lg.p-1.flex.gap-1.text-sm.text-gray-500.font-medium
                %button.px-2.py-1.rounded-md.border.border-transparent.bg-white.border-alpha-black-25.shadow-xs.text-gray-900{class: "w-1/2", "data-action" => "tabs#select", "data-id" => "asset-tab", "data-tabs-target" => "btn"} Assets
                %button.px-2.py-1.rounded-md.border.border-transparent{class: "w-1/2", "data-action" => "tabs#select", "data-id" => "liability-tab", "data-tabs-target" => "btn"} Debts
              %div
                #asset-tab.space-y-6{"data-tabs-target" => "tab"}
                  .text-gray-500.flex.items-center.justify-center.py-6
                    .relative{"data-controller" => "pie-chart", "data-pie-chart-data-value" => "[{\"label\":\"Real Estate\",\"percent_of_total\":6.3,\"value\":2000.0,\"currency\":\"USD\",\"bg_color\":\"bg-cyan-500\",\"fill_color\":\"fill-cyan-500\"},{\"label\":\"Vehicle\",\"percent_of_total\":93.8,\"value\":30000.0,\"currency\":\"USD\",\"bg_color\":\"bg-pink-500\",\"fill_color\":\"fill-pink-500\"}]", "data-pie-chart-label-value" => "Total Assets"}
                      .absolute.inset-0.w-full.text-center.flex.flex-col.items-center.justify-center
                        %p.text-gray-500{class: "-space-x-0.5"}
                          %span.text-xl.text-gray-900.font-medium> 32 000,00 $
                          \.undefined
                        %span.text-xs Total Assets
                      %svg.relative.aspect-1{viewbox: "0,0,200,200", width: "100%"}
                        %g{transform: "translate(100,100)"}
                          %g.arc
                            %path.fill-cyan-500{d: "M-38.685,-89.929A2,2,0,0,1,-37.635,-92.648A100,100,0,0,1,-6.2,-99.808A2,2,0,0,1,-4.076,-97.811L-4.076,-93.803A2,2,0,0,1,-5.947,-91.808A92,92,0,0,0,-34.399,-85.327A2,2,0,0,1,-36.949,-86.316Z"}
                          %g.arc
                            %path.fill-pink-500{d: "M4.076,-97.811A2,2,0,0,1,6.2,-99.808A100,100,0,1,1,-48.812,-87.278A2,2,0,0,1,-46.033,-86.398L-44.297,-82.786A2,2,0,0,1,-45.119,-80.177A92,92,0,1,0,5.947,-91.808A2,2,0,0,1,4.076,-93.803Z"}
                #liability-tab.space-y-6.hidden{"data-tabs-target" => "tab"}
                  .text-gray-500.flex.items-center.justify-center.py-6
                    .relative{"data-controller" => "pie-chart", "data-pie-chart-data-value" => "[{\"label\":\"Credit Card\",\"percent_of_total\":100.0,\"value\":20000.0,\"currency\":\"USD\",\"bg_color\":\"bg-red-500\",\"fill_color\":\"fill-red-500\"}]", "data-pie-chart-label-value" => "Total Debts"}
                      .absolute.inset-0.w-full.text-center.flex.flex-col.items-center.justify-center
                        %p.text-gray-500{class: "-space-x-0.5"}
                          %span.text-xl.text-gray-900.font-medium> 20 000,00 $
                          \.undefined
                        %span.text-xs Total Debts
                      %svg.relative.aspect-1{viewbox: "0,0,200,200", width: "100%"}
                        %g{transform: "translate(100,100)"}
                          %g.arc
                            %path.fill-red-500{d: "M0,-100A100,100,0,1,1,0,100A100,100,0,1,1,0,-100M0,-92A92,92,0,1,0,0,92A92,92,0,1,0,0,-92Z"}
            / END app/views/pages/dashboard/_allocation_chart.html.erb
        %section.grid.grid-cols-2.gap-4
          .bg-white.p-4.border.border-alpha-black-25.shadow-xs.rounded-xl
            .flex.flex-col.gap-4.h-full
              .flex.gap-4
                .grow
                  / BEGIN app/views/shared/_value_heading.html.erb
                  .space-y-2
                    %p.text-sm.text-gray-500.font-medium Income
                    %p.text-gray-900{class: "-space-x-0.5"}
                      %span.text-gray-500 $
                      %span.text-xl.font-medium 0
                      %span.text-gray-500
                        \.00
                    %p.text-sm.text-gray-500 No change vs. prior period
                  / END app/views/shared/_value_heading.html.erb
                #incomeChart.h-full{class: "w-2/5", "data-controller" => "time-series-chart", "data-time-series-chart-data-value" => "{\"values\":[{\"date\":\"2024-04-20\",\"value\":{\"amount\":\"0.0\",\"currency\":\"USD\"},\"trend\":{\"favorable_direction\":\"up\",\"direction\":\"flat\",\"value\":{\"amount\":\"0.0\",\"currency\":\"USD\"},\"percent\":0.0}},{\"date\":\"2024-04-21\",\"value\":{\"amount\":\"0.0\",\"currency\":\"USD\"},\"trend\":{\"favorable_direction\":\"up\",\"direction\":\"flat\",\"value\":{\"amount\":\"0.0\",\"currency\":\"USD\"},\"percent\":null}},{\"date\":\"2024-04-22\",\"value\":{\"amount\":\"0.0\",\"currency\":\"USD\"},\"trend\":{\"favorable_direction\":\"up\",\"direction\":\"flat\",\"value\":{\"amount\":\"0.0\",\"currency\":\"USD\"},\"percent\":null}},{\"date\":\"2024-04-23\",\"value\":{\"amount\":\"0.0\",\"currency\":\"USD\"},\"trend\":{\"favorable_direction\":\"up\",\"direction\":\"flat\",\"value\":{\"amount\":\"0.0\",\"currency\":\"USD\"},\"percent\":null}},{\"date\":\"2024-04-24\",\"value\":{\"amount\":\"0.0\",\"currency\":\"USD\"},\"trend\":{\"favorable_direction\":\"up\",\"direction\":\"flat\",\"value\":{\"amount\":\"0.0\",\"currency\":\"USD\"},\"percent\":null}},{\"date\":\"2024-04-25\",\"value\":{\"amount\":\"0.0\",\"currency\":\"USD\"},\"trend\":{\"favorable_direction\":\"up\",\"direction\":\"flat\",\"value\":{\"amount\":\"0.0\",\"currency\":\"USD\"},\"percent\":null}},{\"date\":\"2024-04-26\",\"value\":{\"amount\":\"0.0\",\"currency\":\"USD\"},\"trend\":{\"favorable_direction\":\"up\",\"direction\":\"flat\",\"value\":{\"amount\":\"0.0\",\"currency\":\"USD\"},\"percent\":null}},{\"date\":\"2024-04-27\",\"value\":{\"amount\":\"0.0\",\"currency\":\"USD\"},\"trend\":{\"favorable_direction\":\"up\",\"direction\":\"flat\",\"value\":{\"amount\":\"0.0\",\"currency\":\"USD\"},\"percent\":null}},{\"date\":\"2024-04-28\",\"value\":{\"amount\":\"0.0\",\"currency\":\"USD\"},\"trend\":{\"favorable_direction\":\"up\",\"direction\":\"flat\",\"value\":{\"amount\":\"0.0\",\"currency\":\"USD\"},\"percent\":null}},{\"date\":\"2024-04-29\",\"value\":{\"amount\":\"0.0\",\"currency\":\"USD\"},\"trend\":{\"favorable_direction\":\"up\",\"direction\":\"flat\",\"value\":{\"amount\":\"0.0\",\"currency\":\"USD\"},\"percent\":null}},{\"date\":\"2024-04-30\",\"value\":{\"amount\":\"0.0\",\"currency\":\"USD\"},\"trend\":{\"favorable_direction\":\"up\",\"direction\":\"flat\",\"value\":{\"amount\":\"0.0\",\"currency\":\"USD\"},\"percent\":null}},{\"date\":\"2024-05-01\",\"value\":{\"amount\":\"0.0\",\"currency\":\"USD\"},\"trend\":{\"favorable_direction\":\"up\",\"direction\":\"flat\",\"value\":{\"amount\":\"0.0\",\"currency\":\"USD\"},\"percent\":null}},{\"date\":\"2024-05-02\",\"value\":{\"amount\":\"0.0\",\"currency\":\"USD\"},\"trend\":{\"favorable_direction\":\"up\",\"direction\":\"flat\",\"value\":{\"amount\":\"0.0\",\"currency\":\"USD\"},\"percent\":null}},{\"date\":\"2024-05-03\",\"value\":{\"amount\":\"0.0\",\"currency\":\"USD\"},\"trend\":{\"favorable_direction\":\"up\",\"direction\":\"flat\",\"value\":{\"amount\":\"0.0\",\"currency\":\"USD\"},\"percent\":null}},{\"date\":\"2024-05-04\",\"value\":{\"amount\":\"0.0\",\"currency\":\"USD\"},\"trend\":{\"favorable_direction\":\"up\",\"direction\":\"flat\",\"value\":{\"amount\":\"0.0\",\"currency\":\"USD\"},\"percent\":null}},{\"date\":\"2024-05-05\",\"value\":{\"amount\":\"0.0\",\"currency\":\"USD\"},\"trend\":{\"favorable_direction\":\"up\",\"direction\":\"flat\",\"value\":{\"amount\":\"0.0\",\"currency\":\"USD\"},\"percent\":null}},{\"date\":\"2024-05-06\",\"value\":{\"amount\":\"0.0\",\"currency\":\"USD\"},\"trend\":{\"favorable_direction\":\"up\",\"direction\":\"flat\",\"value\":{\"amount\":\"0.0\",\"currency\":\"USD\"},\"percent\":null}},{\"date\":\"2024-05-07\",\"value\":{\"amount\":\"0.0\",\"currency\":\"USD\"},\"trend\":{\"favorable_direction\":\"up\",\"direction\":\"flat\",\"value\":{\"amount\":\"0.0\",\"currency\":\"USD\"},\"percent\":null}},{\"date\":\"2024-05-08\",\"value\":{\"amount\":\"0.0\",\"currency\":\"USD\"},\"trend\":{\"favorable_direction\":\"up\",\"direction\":\"flat\",\"value\":{\"amount\":\"0.0\",\"currency\":\"USD\"},\"percent\":null}},{\"date\":\"2024-05-09\",\"value\":{\"amount\":\"0.0\",\"currency\":\"USD\"},\"trend\":{\"favorable_direction\":\"up\",\"direction\":\"flat\",\"value\":{\"amount\":\"0.0\",\"currency\":\"USD\"},\"percent\":null}},{\"date\":\"2024-05-10\",\"value\":{\"amount\":\"0.0\",\"currency\":\"USD\"},\"trend\":{\"favorable_direction\":\"up\",\"direction\":\"flat\",\"value\":{\"amount\":\"0.0\",\"currency\":\"USD\"},\"percent\":null}},{\"date\":\"2024-05-11\",\"value\":{\"amount\":\"0.0\",\"currency\":\"USD\"},\"trend\":{\"favorable_direction\":\"up\",\"direction\":\"flat\",\"value\":{\"amount\":\"0.0\",\"currency\":\"USD\"},\"percent\":null}},{\"date\":\"2024-05-12\",\"value\":{\"amount\":\"0.0\",\"currency\":\"USD\"},\"trend\":{\"favorable_direction\":\"up\",\"direction\":\"flat\",\"value\":{\"amount\":\"0.0\",\"currency\":\"USD\"},\"percent\":null}},{\"date\":\"2024-05-13\",\"value\":{\"amount\":\"0.0\",\"currency\":\"USD\"},\"trend\":{\"favorable_direction\":\"up\",\"direction\":\"flat\",\"value\":{\"amount\":\"0.0\",\"currency\":\"USD\"},\"percent\":null}},{\"date\":\"2024-05-14\",\"value\":{\"amount\":\"0.0\",\"currency\":\"USD\"},\"trend\":{\"favorable_direction\":\"up\",\"direction\":\"flat\",\"value\":{\"amount\":\"0.0\",\"currency\":\"USD\"},\"percent\":null}},{\"date\":\"2024-05-15\",\"value\":{\"amount\":\"0.0\",\"currency\":\"USD\"},\"trend\":{\"favorable_direction\":\"up\",\"direction\":\"flat\",\"value\":{\"amount\":\"0.0\",\"currency\":\"USD\"},\"percent\":null}},{\"date\":\"2024-05-16\",\"value\":{\"amount\":\"0.0\",\"currency\":\"USD\"},\"trend\":{\"favorable_direction\":\"up\",\"direction\":\"flat\",\"value\":{\"amount\":\"0.0\",\"currency\":\"USD\"},\"percent\":null}},{\"date\":\"2024-05-17\",\"value\":{\"amount\":\"0.0\",\"currency\":\"USD\"},\"trend\":{\"favorable_direction\":\"up\",\"direction\":\"flat\",\"value\":{\"amount\":\"0.0\",\"currency\":\"USD\"},\"percent\":null}},{\"date\":\"2024-05-18\",\"value\":{\"amount\":\"0.0\",\"currency\":\"USD\"},\"trend\":{\"favorable_direction\":\"up\",\"direction\":\"flat\",\"value\":{\"amount\":\"0.0\",\"currency\":\"USD\"},\"percent\":null}},{\"date\":\"2024-05-19\",\"value\":{\"amount\":\"0.0\",\"currency\":\"USD\"},\"trend\":{\"favorable_direction\":\"up\",\"direction\":\"flat\",\"value\":{\"amount\":\"0.0\",\"currency\":\"USD\"},\"percent\":null}},{\"date\":\"2024-05-20\",\"value\":{\"amount\":\"0.0\",\"currency\":\"USD\"},\"trend\":{\"favorable_direction\":\"up\",\"direction\":\"flat\",\"value\":{\"amount\":\"0.0\",\"currency\":\"USD\"},\"percent\":null}}],\"trend\":{\"favorable_direction\":\"up\",\"direction\":\"flat\",\"value\":{\"amount\":\"0.0\",\"currency\":\"USD\"},\"percent\":null},\"favorable_direction\":\"up\"}", "data-time-series-chart-use-labels-value" => "false", "data-time-series-chart-use-tooltip-value" => "false"}
                  %svg{height: "84", viewbox: "0,0,134,84", width: "134"}
                    %defs
                      %lineargradient#incomeChart-split-gradient{gradientunits: "userSpaceOnUse", x1: "0", x2: "134"}
                        %stop.start-color{offset: "0%", "stop-color" => "#737373"}
                        %stop.middle-color{offset: "100%", "stop-color" => "#737373"}
                        %stop.end-color{offset: "100%", "stop-color" => "#D6D6D6"}
                    %g{transform: "translate(0,0)"}
                      %path{d: "M0,42L4,42L9,42L13,42L18,42L22,42L27,42L31,42L36,42L40,42L45,42L49,42L54,42L58,42L63,42L67,42L71,42L76,42L80,42L85,42L89,42L94,42L98,42L103,42L107,42L112,42L116,42L121,42L125,42L130,42L134,42", fill: "none", stroke: "url(#incomeChart-split-gradient)", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "2"}
              .flex{class: "gap-1.5"}
          .bg-white.p-4.border.border-alpha-black-25.shadow-xs.rounded-xl
            .flex.flex-col.gap-4.h-full
              .flex.gap-4
                .grow
                  / BEGIN app/views/shared/_value_heading.html.erb
                  .space-y-2
                    %p.text-sm.text-gray-500.font-medium Spending
                    %p.text-gray-900{class: "-space-x-0.5"}
                      %span.text-gray-500 $
                      %span.text-xl.font-medium 0
                      %span.text-gray-500
                        \.00
                    %p.text-sm.text-gray-500 No change vs. prior period
                  / END app/views/shared/_value_heading.html.erb
                #spendingChart.h-full{class: "w-2/5", "data-controller" => "time-series-chart", "data-time-series-chart-data-value" => "{\"values\":[{\"date\":\"2024-04-20\",\"value\":{\"amount\":\"0.0\",\"currency\":\"USD\"},\"trend\":{\"favorable_direction\":\"down\",\"direction\":\"flat\",\"value\":{\"amount\":\"0.0\",\"currency\":\"USD\"},\"percent\":0.0}},{\"date\":\"2024-04-21\",\"value\":{\"amount\":\"0.0\",\"currency\":\"USD\"},\"trend\":{\"favorable_direction\":\"down\",\"direction\":\"flat\",\"value\":{\"amount\":\"0.0\",\"currency\":\"USD\"},\"percent\":null}},{\"date\":\"2024-04-22\",\"value\":{\"amount\":\"0.0\",\"currency\":\"USD\"},\"trend\":{\"favorable_direction\":\"down\",\"direction\":\"flat\",\"value\":{\"amount\":\"0.0\",\"currency\":\"USD\"},\"percent\":null}},{\"date\":\"2024-04-23\",\"value\":{\"amount\":\"0.0\",\"currency\":\"USD\"},\"trend\":{\"favorable_direction\":\"down\",\"direction\":\"flat\",\"value\":{\"amount\":\"0.0\",\"currency\":\"USD\"},\"percent\":null}},{\"date\":\"2024-04-24\",\"value\":{\"amount\":\"0.0\",\"currency\":\"USD\"},\"trend\":{\"favorable_direction\":\"down\",\"direction\":\"flat\",\"value\":{\"amount\":\"0.0\",\"currency\":\"USD\"},\"percent\":null}},{\"date\":\"2024-04-25\",\"value\":{\"amount\":\"0.0\",\"currency\":\"USD\"},\"trend\":{\"favorable_direction\":\"down\",\"direction\":\"flat\",\"value\":{\"amount\":\"0.0\",\"currency\":\"USD\"},\"percent\":null}},{\"date\":\"2024-04-26\",\"value\":{\"amount\":\"0.0\",\"currency\":\"USD\"},\"trend\":{\"favorable_direction\":\"down\",\"direction\":\"flat\",\"value\":{\"amount\":\"0.0\",\"currency\":\"USD\"},\"percent\":null}},{\"date\":\"2024-04-27\",\"value\":{\"amount\":\"0.0\",\"currency\":\"USD\"},\"trend\":{\"favorable_direction\":\"down\",\"direction\":\"flat\",\"value\":{\"amount\":\"0.0\",\"currency\":\"USD\"},\"percent\":null}},{\"date\":\"2024-04-28\",\"value\":{\"amount\":\"0.0\",\"currency\":\"USD\"},\"trend\":{\"favorable_direction\":\"down\",\"direction\":\"flat\",\"value\":{\"amount\":\"0.0\",\"currency\":\"USD\"},\"percent\":null}},{\"date\":\"2024-04-29\",\"value\":{\"amount\":\"0.0\",\"currency\":\"USD\"},\"trend\":{\"favorable_direction\":\"down\",\"direction\":\"flat\",\"value\":{\"amount\":\"0.0\",\"currency\":\"USD\"},\"percent\":null}},{\"date\":\"2024-04-30\",\"value\":{\"amount\":\"0.0\",\"currency\":\"USD\"},\"trend\":{\"favorable_direction\":\"down\",\"direction\":\"flat\",\"value\":{\"amount\":\"0.0\",\"currency\":\"USD\"},\"percent\":null}},{\"date\":\"2024-05-01\",\"value\":{\"amount\":\"0.0\",\"currency\":\"USD\"},\"trend\":{\"favorable_direction\":\"down\",\"direction\":\"flat\",\"value\":{\"amount\":\"0.0\",\"currency\":\"USD\"},\"percent\":null}},{\"date\":\"2024-05-02\",\"value\":{\"amount\":\"0.0\",\"currency\":\"USD\"},\"trend\":{\"favorable_direction\":\"down\",\"direction\":\"flat\",\"value\":{\"amount\":\"0.0\",\"currency\":\"USD\"},\"percent\":null}},{\"date\":\"2024-05-03\",\"value\":{\"amount\":\"0.0\",\"currency\":\"USD\"},\"trend\":{\"favorable_direction\":\"down\",\"direction\":\"flat\",\"value\":{\"amount\":\"0.0\",\"currency\":\"USD\"},\"percent\":null}},{\"date\":\"2024-05-04\",\"value\":{\"amount\":\"0.0\",\"currency\":\"USD\"},\"trend\":{\"favorable_direction\":\"down\",\"direction\":\"flat\",\"value\":{\"amount\":\"0.0\",\"currency\":\"USD\"},\"percent\":null}},{\"date\":\"2024-05-05\",\"value\":{\"amount\":\"0.0\",\"currency\":\"USD\"},\"trend\":{\"favorable_direction\":\"down\",\"direction\":\"flat\",\"value\":{\"amount\":\"0.0\",\"currency\":\"USD\"},\"percent\":null}},{\"date\":\"2024-05-06\",\"value\":{\"amount\":\"0.0\",\"currency\":\"USD\"},\"trend\":{\"favorable_direction\":\"down\",\"direction\":\"flat\",\"value\":{\"amount\":\"0.0\",\"currency\":\"USD\"},\"percent\":null}},{\"date\":\"2024-05-07\",\"value\":{\"amount\":\"0.0\",\"currency\":\"USD\"},\"trend\":{\"favorable_direction\":\"down\",\"direction\":\"flat\",\"value\":{\"amount\":\"0.0\",\"currency\":\"USD\"},\"percent\":null}},{\"date\":\"2024-05-08\",\"value\":{\"amount\":\"0.0\",\"currency\":\"USD\"},\"trend\":{\"favorable_direction\":\"down\",\"direction\":\"flat\",\"value\":{\"amount\":\"0.0\",\"currency\":\"USD\"},\"percent\":null}},{\"date\":\"2024-05-09\",\"value\":{\"amount\":\"0.0\",\"currency\":\"USD\"},\"trend\":{\"favorable_direction\":\"down\",\"direction\":\"flat\",\"value\":{\"amount\":\"0.0\",\"currency\":\"USD\"},\"percent\":null}},{\"date\":\"2024-05-10\",\"value\":{\"amount\":\"0.0\",\"currency\":\"USD\"},\"trend\":{\"favorable_direction\":\"down\",\"direction\":\"flat\",\"value\":{\"amount\":\"0.0\",\"currency\":\"USD\"},\"percent\":null}},{\"date\":\"2024-05-11\",\"value\":{\"amount\":\"0.0\",\"currency\":\"USD\"},\"trend\":{\"favorable_direction\":\"down\",\"direction\":\"flat\",\"value\":{\"amount\":\"0.0\",\"currency\":\"USD\"},\"percent\":null}},{\"date\":\"2024-05-12\",\"value\":{\"amount\":\"0.0\",\"currency\":\"USD\"},\"trend\":{\"favorable_direction\":\"down\",\"direction\":\"flat\",\"value\":{\"amount\":\"0.0\",\"currency\":\"USD\"},\"percent\":null}},{\"date\":\"2024-05-13\",\"value\":{\"amount\":\"0.0\",\"currency\":\"USD\"},\"trend\":{\"favorable_direction\":\"down\",\"direction\":\"flat\",\"value\":{\"amount\":\"0.0\",\"currency\":\"USD\"},\"percent\":null}},{\"date\":\"2024-05-14\",\"value\":{\"amount\":\"0.0\",\"currency\":\"USD\"},\"trend\":{\"favorable_direction\":\"down\",\"direction\":\"flat\",\"value\":{\"amount\":\"0.0\",\"currency\":\"USD\"},\"percent\":null}},{\"date\":\"2024-05-15\",\"value\":{\"amount\":\"0.0\",\"currency\":\"USD\"},\"trend\":{\"favorable_direction\":\"down\",\"direction\":\"flat\",\"value\":{\"amount\":\"0.0\",\"currency\":\"USD\"},\"percent\":null}},{\"date\":\"2024-05-16\",\"value\":{\"amount\":\"0.0\",\"currency\":\"USD\"},\"trend\":{\"favorable_direction\":\"down\",\"direction\":\"flat\",\"value\":{\"amount\":\"0.0\",\"currency\":\"USD\"},\"percent\":null}},{\"date\":\"2024-05-17\",\"value\":{\"amount\":\"0.0\",\"currency\":\"USD\"},\"trend\":{\"favorable_direction\":\"down\",\"direction\":\"flat\",\"value\":{\"amount\":\"0.0\",\"currency\":\"USD\"},\"percent\":null}},{\"date\":\"2024-05-18\",\"value\":{\"amount\":\"0.0\",\"currency\":\"USD\"},\"trend\":{\"favorable_direction\":\"down\",\"direction\":\"flat\",\"value\":{\"amount\":\"0.0\",\"currency\":\"USD\"},\"percent\":null}},{\"date\":\"2024-05-19\",\"value\":{\"amount\":\"0.0\",\"currency\":\"USD\"},\"trend\":{\"favorable_direction\":\"down\",\"direction\":\"flat\",\"value\":{\"amount\":\"0.0\",\"currency\":\"USD\"},\"percent\":null}},{\"date\":\"2024-05-20\",\"value\":{\"amount\":\"0.0\",\"currency\":\"USD\"},\"trend\":{\"favorable_direction\":\"down\",\"direction\":\"flat\",\"value\":{\"amount\":\"0.0\",\"currency\":\"USD\"},\"percent\":null}}],\"trend\":{\"favorable_direction\":\"down\",\"direction\":\"flat\",\"value\":{\"amount\":\"0.0\",\"currency\":\"USD\"},\"percent\":null},\"favorable_direction\":\"down\"}", "data-time-series-chart-use-labels-value" => "false", "data-time-series-chart-use-tooltip-value" => "false"}
                  %svg{height: "84", viewbox: "0,0,134,84", width: "134"}
                    %defs
                      %lineargradient#spendingChart-split-gradient{gradientunits: "userSpaceOnUse", x1: "0", x2: "134"}
                        %stop.start-color{offset: "0%", "stop-color" => "#737373"}
                        %stop.middle-color{offset: "100%", "stop-color" => "#737373"}
                        %stop.end-color{offset: "100%", "stop-color" => "#D6D6D6"}
                    %g{transform: "translate(0,0)"}
                      %path{d: "M0,42L4,42L9,42L13,42L18,42L22,42L27,42L31,42L36,42L40,42L45,42L49,42L54,42L58,42L63,42L67,42L71,42L76,42L80,42L85,42L89,42L94,42L98,42L103,42L107,42L112,42L116,42L121,42L125,42L130,42L134,42", fill: "none", stroke: "url(#spendingChart-split-gradient)", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "2"}
              .flex{class: "gap-1.5"}
          .bg-white.p-4.border.border-alpha-black-25.shadow-xs.rounded-xl
            .flex.flex-col.gap-4.h-full
              .flex.gap-4
                .grow
                  / BEGIN app/views/shared/_value_heading.html.erb
                  .space-y-2
                    %p.text-sm.text-gray-500.font-medium Savings Rate
                    %p.text-gray-900{class: "-space-x-0.5"}
                      %span.text-xl.font-medium 0.00%
                    %p.text-sm.text-gray-500 No change vs. prior period
                  / END app/views/shared/_value_heading.html.erb
                #savingsRateChart.h-full{class: "w-2/5", "data-controller" => "time-series-chart", "data-time-series-chart-data-value" => "{\"values\":[{\"date\":\"2024-04-20\",\"value\":\"0.0\",\"trend\":{\"favorable_direction\":\"up\",\"direction\":\"flat\",\"value\":0,\"percent\":0.0}},{\"date\":\"2024-04-21\",\"value\":\"0.0\",\"trend\":{\"favorable_direction\":\"up\",\"direction\":\"flat\",\"value\":\"0.0\",\"percent\":null}},{\"date\":\"2024-04-22\",\"value\":\"0.0\",\"trend\":{\"favorable_direction\":\"up\",\"direction\":\"flat\",\"value\":\"0.0\",\"percent\":null}},{\"date\":\"2024-04-23\",\"value\":\"0.0\",\"trend\":{\"favorable_direction\":\"up\",\"direction\":\"flat\",\"value\":\"0.0\",\"percent\":null}},{\"date\":\"2024-04-24\",\"value\":\"0.0\",\"trend\":{\"favorable_direction\":\"up\",\"direction\":\"flat\",\"value\":\"0.0\",\"percent\":null}},{\"date\":\"2024-04-25\",\"value\":\"0.0\",\"trend\":{\"favorable_direction\":\"up\",\"direction\":\"flat\",\"value\":\"0.0\",\"percent\":null}},{\"date\":\"2024-04-26\",\"value\":\"0.0\",\"trend\":{\"favorable_direction\":\"up\",\"direction\":\"flat\",\"value\":\"0.0\",\"percent\":null}},{\"date\":\"2024-04-27\",\"value\":\"0.0\",\"trend\":{\"favorable_direction\":\"up\",\"direction\":\"flat\",\"value\":\"0.0\",\"percent\":null}},{\"date\":\"2024-04-28\",\"value\":\"0.0\",\"trend\":{\"favorable_direction\":\"up\",\"direction\":\"flat\",\"value\":\"0.0\",\"percent\":null}},{\"date\":\"2024-04-29\",\"value\":\"0.0\",\"trend\":{\"favorable_direction\":\"up\",\"direction\":\"flat\",\"value\":\"0.0\",\"percent\":null}},{\"date\":\"2024-04-30\",\"value\":\"0.0\",\"trend\":{\"favorable_direction\":\"up\",\"direction\":\"flat\",\"value\":\"0.0\",\"percent\":null}},{\"date\":\"2024-05-01\",\"value\":\"0.0\",\"trend\":{\"favorable_direction\":\"up\",\"direction\":\"flat\",\"value\":\"0.0\",\"percent\":null}},{\"date\":\"2024-05-02\",\"value\":\"0.0\",\"trend\":{\"favorable_direction\":\"up\",\"direction\":\"flat\",\"value\":\"0.0\",\"percent\":null}},{\"date\":\"2024-05-03\",\"value\":\"0.0\",\"trend\":{\"favorable_direction\":\"up\",\"direction\":\"flat\",\"value\":\"0.0\",\"percent\":null}},{\"date\":\"2024-05-04\",\"value\":\"0.0\",\"trend\":{\"favorable_direction\":\"up\",\"direction\":\"flat\",\"value\":\"0.0\",\"percent\":null}},{\"date\":\"2024-05-05\",\"value\":\"0.0\",\"trend\":{\"favorable_direction\":\"up\",\"direction\":\"flat\",\"value\":\"0.0\",\"percent\":null}},{\"date\":\"2024-05-06\",\"value\":\"0.0\",\"trend\":{\"favorable_direction\":\"up\",\"direction\":\"flat\",\"value\":\"0.0\",\"percent\":null}},{\"date\":\"2024-05-07\",\"value\":\"0.0\",\"trend\":{\"favorable_direction\":\"up\",\"direction\":\"flat\",\"value\":\"0.0\",\"percent\":null}},{\"date\":\"2024-05-08\",\"value\":\"0.0\",\"trend\":{\"favorable_direction\":\"up\",\"direction\":\"flat\",\"value\":\"0.0\",\"percent\":null}},{\"date\":\"2024-05-09\",\"value\":\"0.0\",\"trend\":{\"favorable_direction\":\"up\",\"direction\":\"flat\",\"value\":\"0.0\",\"percent\":null}},{\"date\":\"2024-05-10\",\"value\":\"0.0\",\"trend\":{\"favorable_direction\":\"up\",\"direction\":\"flat\",\"value\":\"0.0\",\"percent\":null}},{\"date\":\"2024-05-11\",\"value\":\"0.0\",\"trend\":{\"favorable_direction\":\"up\",\"direction\":\"flat\",\"value\":\"0.0\",\"percent\":null}},{\"date\":\"2024-05-12\",\"value\":\"0.0\",\"trend\":{\"favorable_direction\":\"up\",\"direction\":\"flat\",\"value\":\"0.0\",\"percent\":null}},{\"date\":\"2024-05-13\",\"value\":\"0.0\",\"trend\":{\"favorable_direction\":\"up\",\"direction\":\"flat\",\"value\":\"0.0\",\"percent\":null}},{\"date\":\"2024-05-14\",\"value\":\"0.0\",\"trend\":{\"favorable_direction\":\"up\",\"direction\":\"flat\",\"value\":\"0.0\",\"percent\":null}},{\"date\":\"2024-05-15\",\"value\":\"0.0\",\"trend\":{\"favorable_direction\":\"up\",\"direction\":\"flat\",\"value\":\"0.0\",\"percent\":null}},{\"date\":\"2024-05-16\",\"value\":\"0.0\",\"trend\":{\"favorable_direction\":\"up\",\"direction\":\"flat\",\"value\":\"0.0\",\"percent\":null}},{\"date\":\"2024-05-17\",\"value\":\"0.0\",\"trend\":{\"favorable_direction\":\"up\",\"direction\":\"flat\",\"value\":\"0.0\",\"percent\":null}},{\"date\":\"2024-05-18\",\"value\":\"0.0\",\"trend\":{\"favorable_direction\":\"up\",\"direction\":\"flat\",\"value\":\"0.0\",\"percent\":null}},{\"date\":\"2024-05-19\",\"value\":\"0.0\",\"trend\":{\"favorable_direction\":\"up\",\"direction\":\"flat\",\"value\":\"0.0\",\"percent\":null}},{\"date\":\"2024-05-20\",\"value\":\"0.0\",\"trend\":{\"favorable_direction\":\"up\",\"direction\":\"flat\",\"value\":\"0.0\",\"percent\":null}}],\"trend\":{\"favorable_direction\":\"up\",\"direction\":\"flat\",\"value\":\"0.0\",\"percent\":null},\"favorable_direction\":\"up\"}", "data-time-series-chart-use-labels-value" => "false", "data-time-series-chart-use-tooltip-value" => "false"}
                  %svg{height: "84", viewbox: "0,0,134,84", width: "134"}
                    %defs
                      %lineargradient#savingsRateChart-split-gradient{gradientunits: "userSpaceOnUse", x1: "0", x2: "134"}
                        %stop.start-color{offset: "0%", "stop-color" => "#737373"}
                        %stop.middle-color{offset: "100%", "stop-color" => "#737373"}
                        %stop.end-color{offset: "100%", "stop-color" => "#D6D6D6"}
                    %g{transform: "translate(0,0)"}
                      %path{d: "M0,42L4,42L9,42L13,42L18,42L22,42L27,42L31,42L36,42L40,42L45,42L49,42L54,42L58,42L63,42L67,42L71,42L76,42L80,42L85,42L89,42L94,42L98,42L103,42L107,42L112,42L116,42L121,42L125,42L130,42L134,42", fill: "none", stroke: "url(#savingsRateChart-split-gradient)", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "2"}
              .flex{class: "gap-1.5"}
          .bg-white.p-4.border.border-alpha-black-25.shadow-xs.rounded-xl
            .flex.gap-4.h-full
              .grow
                / BEGIN app/views/shared/_value_heading.html.erb
                .space-y-2
                  %p.text-sm.text-gray-500.font-medium Investing (coming soon...)
                  %p.text-gray-900{class: "-space-x-0.5"}
                    %span.text-gray-500 $
                    %span.text-xl.font-medium 0
                    %span.text-gray-500
                      \.00
                  %p.text-sm.text-gray-500 No change vs. prior period
                / END app/views/shared/_value_heading.html.erb
              #investingChart.h-full{class: "w-2/5", "data-controller" => "time-series-chart", "data-time-series-chart-data-value" => "{\"values\":[{\"date\":\"2024-05-11\",\"value\":{\"amount\":\"0.0\",\"currency\":\"USD\"},\"trend\":{\"favorable_direction\":\"up\",\"direction\":\"flat\",\"value\":{\"amount\":\"0.0\",\"currency\":\"USD\"},\"percent\":0.0}},{\"date\":\"2024-05-12\",\"value\":{\"amount\":\"0.0\",\"currency\":\"USD\"},\"trend\":{\"favorable_direction\":\"up\",\"direction\":\"flat\",\"value\":{\"amount\":\"0.0\",\"currency\":\"USD\"},\"percent\":null}},{\"date\":\"2024-05-13\",\"value\":{\"amount\":\"0.0\",\"currency\":\"USD\"},\"trend\":{\"favorable_direction\":\"up\",\"direction\":\"flat\",\"value\":{\"amount\":\"0.0\",\"currency\":\"USD\"},\"percent\":null}},{\"date\":\"2024-05-14\",\"value\":{\"amount\":\"0.0\",\"currency\":\"USD\"},\"trend\":{\"favorable_direction\":\"up\",\"direction\":\"flat\",\"value\":{\"amount\":\"0.0\",\"currency\":\"USD\"},\"percent\":null}},{\"date\":\"2024-05-15\",\"value\":{\"amount\":\"0.0\",\"currency\":\"USD\"},\"trend\":{\"favorable_direction\":\"up\",\"direction\":\"flat\",\"value\":{\"amount\":\"0.0\",\"currency\":\"USD\"},\"percent\":null}},{\"date\":\"2024-05-16\",\"value\":{\"amount\":\"0.0\",\"currency\":\"USD\"},\"trend\":{\"favorable_direction\":\"up\",\"direction\":\"flat\",\"value\":{\"amount\":\"0.0\",\"currency\":\"USD\"},\"percent\":null}},{\"date\":\"2024-05-17\",\"value\":{\"amount\":\"0.0\",\"currency\":\"USD\"},\"trend\":{\"favorable_direction\":\"up\",\"direction\":\"flat\",\"value\":{\"amount\":\"0.0\",\"currency\":\"USD\"},\"percent\":null}},{\"date\":\"2024-05-18\",\"value\":{\"amount\":\"0.0\",\"currency\":\"USD\"},\"trend\":{\"favorable_direction\":\"up\",\"direction\":\"flat\",\"value\":{\"amount\":\"0.0\",\"currency\":\"USD\"},\"percent\":null}},{\"date\":\"2024-05-19\",\"value\":{\"amount\":\"0.0\",\"currency\":\"USD\"},\"trend\":{\"favorable_direction\":\"up\",\"direction\":\"flat\",\"value\":{\"amount\":\"0.0\",\"currency\":\"USD\"},\"percent\":null}},{\"date\":\"2024-05-20\",\"value\":{\"amount\":\"0.0\",\"currency\":\"USD\"},\"trend\":{\"favorable_direction\":\"up\",\"direction\":\"flat\",\"value\":{\"amount\":\"0.0\",\"currency\":\"USD\"},\"percent\":null}}],\"trend\":{\"favorable_direction\":\"up\",\"direction\":\"flat\",\"value\":{\"amount\":\"0.0\",\"currency\":\"USD\"},\"percent\":null},\"favorable_direction\":\"up\"}", "data-time-series-chart-use-labels-value" => "false"}
                %svg{height: "100", viewbox: "0,0,134,100", width: "134"}
                  %defs
                    %lineargradient#investingChart-split-gradient{gradientunits: "userSpaceOnUse", x1: "0", x2: "134"}
                      %stop.start-color{offset: "0%", "stop-color" => "#737373"}
                      %stop.middle-color{offset: "100%", "stop-color" => "#737373"}
                      %stop.end-color{offset: "100%", "stop-color" => "#D6D6D6"}
                  %g{transform: "translate(0,0)"}
                    %path{d: "M0,50L15,50L30,50L45,50L60,50L74,50L89,50L104,50L119,50L134,50", fill: "none", stroke: "url(#investingChart-split-gradient)", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "2"}
                    %rect{fill: "none", height: "100", "pointer-events" => "all", width: "134"}
                %div{style: "position: absolute; padding: 8px; font: 14px Inter, sans-serif; background: rgb(255, 255, 255); border: 1px solid rgba(11, 11, 11, 0.08); border-radius: 10px; pointer-events: none; opacity: 0;"}
        %section.grid.grid-cols-2.gap-4.items-baseline
          .bg-white.p-4.border.border-alpha-black-25.shadow-xs.rounded-xl.space-y-4
            %h2.text-lg.font-medium.text-gray-900 Transactions
            .text-gray-500.flex.items-center.justify-center.flex-col.bg-gray-25.rounded-md
              / BEGIN app/views/transactions/_transaction_group.html.erb
              .bg-gray-25.rounded-xl.p-1.w-full
                .py-2.px-4.flex.items-center.justify-between.font-medium.text-xs.text-gray-500
                  %h4 May 24, 2024 · 1
                  %span -$40,000.00
                .bg-white.shadow-xs.rounded-md.border.border-alpha-black-25.divide-y.divide-alpha-black-50
                  / BEGIN app/views/transactions/_transaction.html.erb
                  %turbo-frame#transaction_c8c688e7-6cf8-405b-b721-0cb2f6c03f2d.text-gray-900.flex.items-center.gap-6.py-4.text-sm.font-medium.px-4
                    / BEGIN app/views/transactions/_transaction_name.html.erb
                    .flex.items-center.gap-2.w-40
                      .w-8.h-8.flex.items-center.justify-center.rounded-full.text-gray-600{class: "bg-gray-600/5"}
                        F
                      %p.text-gray-900.group-hover:underline.group-hover:text-gray-800.truncate
                        Full
                    / END app/views/transactions/_transaction_name.html.erb
                    .w-36
                      / BEGIN app/views/transactions/categories/_badge.html.erb
                      %span.border.text-sm.font-medium.py-1.rounded-full.cursor-pointer.content-center{class: "px-2.5", style: "\r\n    background-color: color-mix(in srgb, #e99537 5%, white);\r\n    border-color: color-mix(in srgb, #e99537 10%, white);\r\n    color: #e99537;"}
                        Income
                      / END app/views/transactions/categories/_badge.html.erb
                    .ml-auto
                      %p.whitespace-nowrap -$40,000.00
                  / END app/views/transactions/_transaction.html.erb
              / END app/views/transactions/_transaction_group.html.erb
              %p.py-2.text-sm
                %a{href: "/transactions"} View all
          .space-y-4
            .bg-white.p-4.border.border-alpha-black-25.shadow-xs.rounded-xl.space-y-4
              %h2.text-lg.font-medium.text-gray-900 Recurring
              .text-gray-500.flex.items-center.justify-center.py-12
                %p Coming soon...
            .bg-white.p-4.border.border-alpha-black-25.shadow-xs.rounded-xl.space-y-4
              %h2.text-lg.font-medium.text-gray-900 Categories
              .text-gray-500.flex.items-center.justify-center.py-12
                %p Coming soon...
      / END app/views/pages/dashboard.html.erb
  %turbo-frame#modal
  / BEGIN app/views/shared/_confirm_modal.html.erb
  %dialog#turbo-confirm.w-full.rounded-xl{class: "max-w-[420px]"}
    %form.p-4{method: "dialog"}
      .flex.flex-col.mb-4
        .flex.justify-between.mb-2.gap-4
          %h3#turbo-confirm-title.font-medium.text-md Are you sure?
          %button{value: "cancel"}
            %svg.w-5.h-5.shrink-0.text-gray-500{"aria-hidden" => "true", fill: "none", height: "24", stroke: "currentColor", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "2", viewbox: "0 0 24 24", width: "24"}
              %path{d: "M18 6 6 18"}
              %path{d: "m6 6 12 12"}
        #turbo-confirm-body.text-gray-500.text-sm
          %p You will not be able to undo this decision
      %button#turbo-confirm-accept.w-full.text-red-600.rounded-xl.text-center.border.mb-2{class: "p-[10px]", value: "confirm"} Confirm
      %button.w-full.rounded-xl.text-center.border{class: "p-[10px]", value: "cancel"} Cancel
  / END app/views/shared/_confirm_modal.html.erb
  / BEGIN app/views/shared/_upgrade_notification.html.erb
  / END app/views/shared/_upgrade_notification.html.erb