#notification-tray.fixed.z-50.space-y-1.top-6.right-6
.flex.h-full
  .p-6.pb-20.shrink-0.h-full.overflow-y-auto{class: "w-[368px]"}
    = render partial: 'shared/sidebar'
  %main.grow.px-20.pt-6.pb-32.h-full.overflow-y-auto
    / BEGIN app/views/accounts/summary.html.erb
    .space-y-4
      .flex.items-center.justify-between
        %h1.text-xl.font-medium.text-gray-900 Maps
        %a.flex.text-white.text-sm.font-medium.items-center.gap-1.bg-gray-900.rounded-lg.p-2.pr-3{"data-turbo-frame" => "modal", href: "/accounts/new"}
          %svg.w-5.h-5{"aria-hidden" => "true", fill: "none", height: "24", stroke: "currentColor", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "2", viewbox: "0 0 24 24", width: "24"}
            %path{d: "M5 12h14"}
            %path{d: "M12 5v14"}
          %span New account
      .bg-white.rounded-xl.shadow-xs.border.border-alpha-black-100.flex.divide-x.divide-gray-200
        .p-4.flex.items-stretch.justify-between{class: "w-1/2"}
          .space-y-2.grow
            / BEGIN app/views/shared/_value_heading.html.erb
            .space-y-2
              %p.text-sm.text-gray-500.font-medium Assets
              %p.text-gray-900{class: "-space-x-0.5"}
                %span.text-gray-500 $
                %span.text-xl.font-medium 1,200
                %span.text-gray-500
                  \.00
              %p.text-sm.text-gray-500 No change vs. prior period
            / END app/views/shared/_value_heading.html.erb
          #assetsChart.h-full{class: "w-2/5", "data-controller" => "time-series-chart", "data-time-series-chart-data-value" => "{\"values\":[],\"trend\":{\"favorable_direction\":\"up\",\"direction\":\"flat\",\"value\":0,\"percent\":0.0},\"favorable_direction\":\"up\"}", "data-time-series-chart-use-labels-value" => "false"}
            %svg{height: "84", viewbox: "0,0,137,84", width: "137"}
              %line{stroke: "#D6D6D6", "stroke-dasharray" => "4, 4", x1: "68.5", x2: "68.5", y1: "0", y2: "84"}
              %circle{cx: "68.5", cy: "42", r: "4", style: "fill: rgb(163, 163, 163);"}
        .p-4.flex.items-stretch.justify-between{class: "w-1/2"}
          .space-y-2.grow
            / BEGIN app/views/shared/_value_heading.html.erb
            .space-y-2
              %p.text-sm.text-gray-500.font-medium Liabilities
              %p.text-gray-900{class: "-space-x-0.5"}
                %span.text-gray-500 $
                %span.text-lg.font-medium 0
                %span.text-gray-500
                  \.00
              %p.text-sm.text-gray-500 No change vs. prior period
            / END app/views/shared/_value_heading.html.erb
          #liabilitiesChart.h-full{class: "w-2/5", "data-controller" => "time-series-chart", "data-time-series-chart-data-value" => "{\"values\":[],\"trend\":{\"favorable_direction\":\"up\",\"direction\":\"flat\",\"value\":0,\"percent\":0.0},\"favorable_direction\":\"up\"}", "data-time-series-chart-use-labels-value" => "false"}
            %svg{height: "84", viewbox: "0,0,137,84", width: "137"}
              %line{stroke: "#D6D6D6", "stroke-dasharray" => "4, 4", x1: "68.5", x2: "68.5", y1: "0", y2: "84"}
              %circle{cx: "68.5", cy: "42", r: "4", style: "fill: rgb(163, 163, 163);"}
      -# .p-4.bg-white.rounded-xl.shadow-xs.border.border-alpha-black-25.space-y-4
      -#   .flex.justify-between.items-center.mb-5
      -#     %h2.text-lg.font-medium.text-gray-900 Assets
      -#     .flex.items-center.gap-2
      -#       %a.flex.items-center.gap-1.p-2.pr-3.text-gray-900.text-sm.font-medium.bg-gray-50.rounded-lg.hover:bg-gray-100{"data-turbo-frame" => "modal", href: "/accounts/new"}
      -#         %svg.w-5.h-5.text-gray-500{"aria-hidden" => "true", fill: "none", height: "24", stroke: "currentColor", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "2", viewbox: "0 0 24 24", width: "24"}
      -#           %path{d: "M5 12h14"}
      -#           %path{d: "M12 5v14"}
      -#         %p New account
            -# %form.space-y-4{"accept-charset" => "UTF-8", action: "/accounts/summary", "data-controller" => "auto-submit-form", method: "get"}
            -#   / BEGIN app/views/shared/_period_select.html.erb
            -#   .relative{"data-controller" => "select", "data-select-active-class" => "bg-alpha-black-50", "data-select-selected-value" => "last_30_days"}
            -#     %button.flex.items-center.gap-1.w-full.border.border-alpha-black-100.shadow-xs.rounded-lg.text-sm.p-2.cursor-pointer.text-gray-900.text-sm{"data-select-target" => "button", type: "button"}
            -#       %span{"data-select-target" => "buttonText"} 1M
            -#       %svg.w-5.h-5.text-gray-500{"aria-hidden" => "true", fill: "none", height: "24", stroke: "currentColor", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "2", viewbox: "0 0 24 24", width: "24"}
            -#         %path{d: "m6 9 6 6 6-6"}
            -#     %input{"data-auto-submit-form-target" => "auto", "data-select-target" => "input", name: "period", type: "hidden"}/
            -#     %ul.hidden.absolute.z-10.right-0.border.border-alpha-black-25.bg-white.rounded-lg.shadow-xs{class: "top-[100%]", "data-select-target" => "list"}
            -#       %li.text-sm.text-gray-900.rounded-lg.cursor-pointer.hover:bg-alpha-black-50.px-5.py-1{"aria-selected" => "false", "data-action" => "click->select#selectOption", "data-select-target" => "option", "data-value" => "last_7_days", tabindex: "-1"}
            -#         7D
            -#       %li.text-sm.text-gray-900.rounded-lg.cursor-pointer.hover:bg-alpha-black-50.px-5.py-1.bg-alpha-black-50{"aria-selected" => "true", "data-action" => "click->select#selectOption", "data-select-target" => "option", "data-value" => "last_30_days", tabindex: "-1"}
            -#         1M
            -#       %li.text-sm.text-gray-900.rounded-lg.cursor-pointer.hover:bg-alpha-black-50.px-5.py-1{"aria-selected" => "false", "data-action" => "click->select#selectOption", "data-select-target" => "option", "data-value" => "last_365_days", tabindex: "-1"}
            -#         1Y
            -#       %li.text-sm.text-gray-900.rounded-lg.cursor-pointer.hover:bg-alpha-black-50.px-5.py-1{"aria-selected" => "false", "data-action" => "click->select#selectOption", "data-select-target" => "option", "data-value" => "all", tabindex: "-1"}
            -#         All
            -#   / END app/views/shared/_period_select.html.erb
        -# / BEGIN app/views/pages/_account_percentages_bar.html.erb
        -# .space-y-4
        -#   .flex.gap-1
        -#     .rounded-sm.w-12.bg-violet-500{class: "h-1.5", style: "width: 0.0%;"}
        -#     .rounded-sm.w-12.bg-blue-600{class: "h-1.5", style: "width: 0.0%;"}
        -#     .rounded-sm.w-12.bg-gray-500{class: "h-1.5", style: "width: 0.0%;"}
        -#     .rounded-sm.w-12.bg-green-500{class: "h-1.5", style: "width: 0.0%;"}
        -#     .rounded-sm.w-12.bg-cyan-500{class: "h-1.5", style: "width: 100.0%;"}
        -#     .rounded-sm.w-12.bg-pink-500{class: "h-1.5", style: "width: 0.0%;"}
        -#   .flex.gap-4
        -#     .flex.items-center.gap-2.text-sm
        -#       .rounded-full.bg-violet-500{class: "h-2.5 w-2.5"}
        -#       %p.text-gray-500 Bank Account
        -#       %p.text-black 0.0%
        -#     .flex.items-center.gap-2.text-sm
        -#       .rounded-full.bg-blue-600{class: "h-2.5 w-2.5"}
        -#       %p.text-gray-500 Investment
        -#       %p.text-black 0.0%
        -#     .flex.items-center.gap-2.text-sm
        -#       .rounded-full.bg-gray-500{class: "h-2.5 w-2.5"}
        -#       %p.text-gray-500 Crypto
        -#       %p.text-black 0.0%
        -#     .flex.items-center.gap-2.text-sm
        -#       .rounded-full.bg-green-500{class: "h-2.5 w-2.5"}
        -#       %p.text-gray-500 Other Asset
        -#       %p.text-black 0.0%
        -#     .flex.items-center.gap-2.text-sm
        -#       .rounded-full.bg-cyan-500{class: "h-2.5 w-2.5"}
        -#       %p.text-gray-500 Real Estate
        -#       %p.text-black 100.0%
        -#     .flex.items-center.gap-2.text-sm
        -#       .rounded-full.bg-pink-500{class: "h-2.5 w-2.5"}
        -#       %p.text-gray-500 Vehicle
        -#       %p.text-black 0.0%
        -# / END app/views/pages/_account_percentages_bar.html.erb
        -# / BEGIN app/views/pages/_account_percentages_table.html.erb
        -# .bg-gray-25.p-1.rounded-xl
        -#   .px-4.py-2.flex.items-center.uppercase.text-xs.font-medium.text-gray-500
        -#     %div Name
        -#     .ml-auto.text-right.flex.items-center.gap-10
        -#       .w-24
        -#         %p % of total
        -#       .w-24
        -#         %p Value
        -#       .w-40
        -#         %p Change
        -#   .bg-white.border.border-alpha-black-25.shadow-xs.rounded-lg.divide-y.divide-alpha-black-50
        -#     - @maps.each do |item|
        -#       %details.open:bg-gray-25.group
        -#         %summary.flex.p-4.items-center.w-full.rounded-lg.font-medium.hover:bg-gray-50.text-gray-500.text-sm.font-medium.cursor-pointer
        -#           %svg.hidden.group-open:block.w-5.h-5{"aria-hidden" => "true", fill: "none", height: "24", stroke: "currentColor", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "2", viewbox: "0 0 24 24", width: "24"}
        -#             %path{d: "m6 9 6 6 6-6"}
        -#           %svg.group-open:hidden.w-5.h-5{"aria-hidden" => "true", fill: "none", height: "24", stroke: "currentColor", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "2", viewbox: "0 0 24 24", width: "24"}
        -#             %path{d: "m9 18 6-6-6-6"}
        -#           .ml-4.rounded-full.bg-violet-500{class: "h-2.5 w-2.5"}
        -#           %p.text-gray-900.ml-2= item[:source_exchange]
        -#           %span.mx-1 ·
        -#           %div 0
        -#           .ml-auto.text-right.flex.items-center.gap-10.text-sm.font-medium.text-gray-900
        -#             .flex.items-center.justify-end.gap-2.w-24
        -#               / BEGIN app/views/shared/_progress_circle.html.erb
        -#               %svg{height: "16", width: "16"}
        -#                 / Background Circle
        -#                 %circle.fill-transparent.stroke-current.text-gray-300{cx: "8", cy: "8", r: "7", "stroke-width" => "2"}
        -#                 / Foreground Circle
        -#                 %circle.fill-transparent.stroke-current.text-violet-500{cx: "8", cy: "8", r: "7", "stroke-dasharray" => "43.982297150257104", "stroke-dashoffset" => "43.9822971502571", "stroke-width" => "2", transform: "rotate(-90, 8, 8)"}
        -#               / END app/views/shared/_progress_circle.html.erb
        -#               %p 0.0%
        -#             .w-24
        -#               %p $0.00
        -#             .w-40
        -#               / BEGIN app/views/shared/_trend_change.html.erb
        -#               %p.text-sm.text-gray-500
        -#                 %span No change
        -#               / END app/views/shared/_trend_change.html.erb
        -#         .px-4.py-3.space-y-4
        -# / END app/views/pages/_account_percentages_table.html.erb
      .p-4.bg-white.rounded-xl.shadow-xs.border.border-alpha-black-25.space-y-4
        .flex.justify-between.items-center.mb-5
          %h2.text-lg.font-medium.text-gray-900 Liabilities
          .flex.items-center.gap-2
            %a.flex.items-center.gap-1.p-2.pr-3.text-gray-900.text-sm.font-medium.bg-gray-50.rounded-lg.hover:bg-gray-100{"data-turbo-frame" => "modal", href: "/accounts/new"}
              %svg.w-5.h-5.text-gray-500{"aria-hidden" => "true", fill: "none", height: "24", stroke: "currentColor", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "2", viewbox: "0 0 24 24", width: "24"}
                %path{d: "M5 12h14"}
                %path{d: "M12 5v14"}
              %p New account
            %form.space-y-4{"accept-charset" => "UTF-8", action: "/accounts/summary", "data-controller" => "auto-submit-form", method: "get"}
              / BEGIN app/views/shared/_period_select.html.erb
              .relative{"data-controller" => "select", "data-select-active-class" => "bg-alpha-black-50", "data-select-selected-value" => "last_30_days"}
                %button.flex.items-center.gap-1.w-full.border.border-alpha-black-100.shadow-xs.rounded-lg.text-sm.p-2.cursor-pointer.text-gray-900.text-sm{"data-select-target" => "button", type: "button"}
                  %span{"data-select-target" => "buttonText"} 1M
                  %svg.w-5.h-5.text-gray-500{"aria-hidden" => "true", fill: "none", height: "24", stroke: "currentColor", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "2", viewbox: "0 0 24 24", width: "24"}
                    %path{d: "m6 9 6 6 6-6"}
                %input{"data-auto-submit-form-target" => "auto", "data-select-target" => "input", name: "period", type: "hidden"}/
                %ul.hidden.absolute.z-10.right-0.border.border-alpha-black-25.bg-white.rounded-lg.shadow-xs{class: "top-[100%]", "data-select-target" => "list"}
                  %li.text-sm.text-gray-900.rounded-lg.cursor-pointer.hover:bg-alpha-black-50.px-5.py-1{"aria-selected" => "false", "data-action" => "click->select#selectOption", "data-select-target" => "option", "data-value" => "last_7_days", tabindex: "-1"}
                    7D
                  %li.text-sm.text-gray-900.rounded-lg.cursor-pointer.hover:bg-alpha-black-50.px-5.py-1.bg-alpha-black-50{"aria-selected" => "true", "data-action" => "click->select#selectOption", "data-select-target" => "option", "data-value" => "last_30_days", tabindex: "-1"}
                    1M
                  %li.text-sm.text-gray-900.rounded-lg.cursor-pointer.hover:bg-alpha-black-50.px-5.py-1{"aria-selected" => "false", "data-action" => "click->select#selectOption", "data-select-target" => "option", "data-value" => "last_365_days", tabindex: "-1"}
                    1Y
                  %li.text-sm.text-gray-900.rounded-lg.cursor-pointer.hover:bg-alpha-black-50.px-5.py-1{"aria-selected" => "false", "data-action" => "click->select#selectOption", "data-select-target" => "option", "data-value" => "all", tabindex: "-1"}
                    All
              / END app/views/shared/_period_select.html.erb
        / BEGIN app/views/pages/_account_percentages_bar.html.erb
        .space-y-4
          .flex.gap-1
            .rounded-sm.w-12.bg-red-500{class: "h-1.5", style: "width: 100%;"}
            .rounded-sm.w-12.bg-fuchsia-500{class: "h-1.5", style: "width: 100%;"}
            .rounded-sm.w-12.bg-gray-500{class: "h-1.5", style: "width: 100%;"}
          .flex.gap-4
            .flex.items-center.gap-2.text-sm
              .rounded-full.bg-red-500{class: "h-2.5 w-2.5"}
              %p.text-gray-500 Credit Card
              %p.text-black 100%
            .flex.items-center.gap-2.text-sm
              .rounded-full.bg-fuchsia-500{class: "h-2.5 w-2.5"}
              %p.text-gray-500 Loan
              %p.text-black 100%
            .flex.items-center.gap-2.text-sm
              .rounded-full.bg-gray-500{class: "h-2.5 w-2.5"}
              %p.text-gray-500 Other Liability
              %p.text-black 100%
        / END app/views/pages/_account_percentages_bar.html.erb
        / BEGIN app/views/pages/_account_percentages_table.html.erb
        .bg-gray-25.p-1.rounded-xl
          .px-4.py-2.flex.items-center.uppercase.text-xs.font-medium.text-gray-500
            %div Name
            .ml-auto.text-right.flex.items-center.gap-10
              .w-24
                %p % of total
              .w-24
                %p Value
              .w-40
                %p Change
          .bg-white.border.border-alpha-black-25.shadow-xs.rounded-lg.divide-y.divide-alpha-black-50
            - @maps.each do |item|
              = render partial: 'maps', locals: { item: item }
        / END app/views/pages/_account_percentages_table.html.erb
    / END app/views/accounts/summary.html.erb
%turbo-frame#modal
/ BEGIN app/views/shared/_confirm_modal.html.erb
%dialog#turbo-confirm.w-full.rounded-xl{class: "max-w-[420px]"}
  %form.p-4{method: "dialog"}
    .flex.flex-col.mb-4
      .flex.justify-between.mb-2.gap-4
        %h3#turbo-confirm-title.font-medium.text-md Are you sure?
        %button{value: "cancel"}
          %svg.w-5.h-5.shrink-0.text-gray-500{"aria-hidden" => "true", fill: "none", height: "24", stroke: "currentColor", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "2", viewbox: "0 0 24 24", width: "24"}
            %path{d: "M18 6 6 18"}
            %path{d: "m6 6 12 12"}
      #turbo-confirm-body.text-gray-500.text-sm
        %p You will not be able to undo this decision
    %button#turbo-confirm-accept.w-full.text-red-600.rounded-xl.text-center.border.mb-2{class: "p-[10px]", value: "confirm"} Confirm
    %button.w-full.rounded-xl.text-center.border{class: "p-[10px]", value: "cancel"} Cancel
/ END app/views/shared/_confirm_modal.html.erb
/ BEGIN app/views/shared/_upgrade_notification.html.erb
/ END app/views/shared/_upgrade_notification.html.erb